<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type; X-UA-Compatible"
	content="text/html; IE=edge; charset=UTF-8; X-Content-Type-Options=nosniff">
	<meta name="description"
	content="Vuoi una birra Viana a casa tua? Sei nel posto giusto! Fatti invitare da un tuo amico che già beve birra Viana per ricevere entrambe vantaggi. Se non conosci amici che posso invitarti allora richiedilo in Sharingbeer">

	<meta property="og:title" content="Birrificio Viana by sharingbeer" />
	<meta property="og:url" content="https://sharingbeer.it" />
	<meta property="og:image" content="https://sharingbeer.it/img/logoBirraVianaMini.png" />
	<meta property="og:description" content="Vuoi una birra Viana a casa tua? Sei nel posto giusto!" />

	<title>SharingBeer</title>

	<link rel="icon" type="image/x-icon" href="/img/favicon180.ico">
	<link rel="manifest" href="manifest.json" />


	<!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
	integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous"-->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">

	<!--link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" /-->
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"-->


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/toggle.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/webcam.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">

	<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="7632fcc1-4707-48cb-85f9-ab4b85172a15"
	type="text/javascript" async></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

	<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

	<script type="text/javascript" src="/js/inputControl.js"></script>

	<script type="text/javascript" src="/js/webcam-easy.js"></script>


</head>

<body>
	<div id="loading">
		<img  src="/img/ajax-loader-1.gif" alt="Loading..." />
	</div>

<!------------------ NAVBAR start ------------------->

<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark" style="background:repeating-linear-gradient(135deg,#120004,#120004 3px,#2A0009 3px,#2A0009 6px); width: 100%;max-width: 700px;margin: 0 auto;">
	<ul class="nav w-100 justify-content-around">
		<li class="nav-item ">	
			<a class="navbar-brand" style="font-size:12px; color:#FFF; text-decoration:none;" href="#" onclick="goTo('/')">
				<div style="display:flex; flex-direction:column; align-items:center;font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">					
					<span class="material-symbols-outlined">home</span>
				</div>
				<div style="text-align: center;">
					Home
				</div>
			</a>
		</li>
		<li class="nav-item">		
			<a class="navbar-brand" style="font-size:12px; color: #FFF; text-decoration: none;" href="#" onclick="goTo('/listOfFriends')">
				<div style="display:flex; flex-direction:column; align-items:center;font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">					
					<span class="material-symbols-outlined">Diversity_1</span>
				</div>
				<div>
					Amici
				</div>
			</a>
		</li>
		<li class="nav-item">	
			<a class="navbar-brand" style="font-size:12px; color: #FFF; text-decoration: none;" href="#" onclick="goTo('/cart')">
				<div id="carrello" style="display: flex; flex-direction:row; align-items:center; justify-content: center; margin-left: auto; margin-right: auto; font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">
					<span class="material-symbols-outlined"> Shopping_Cart </span>
					{% if user %}
					<span class="badge badge-warning" id="lblCartCount">
						{% if numProducts %}
						{{numProducts | round (1)}}
						{% endif %}
						
					</span>
					{% endif %}
				</div>
				<div style="text-align: center;">
					Carrello
				</div>
			</a>
		</li>

		<li class="nav-item">	
			<a class="navbar-brand" style="font-size:12px; color: #FFF; text-decoration: none;" href="#" onclick="goTo('/shop')">
				<div style="display:flex; flex-direction:column; align-items:center;font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">					
					<span class="material-symbols-outlined">Shopping_Bag</span>
				</div>
				<div style="text-align: center">
					Shop
				</div>
			</a>
		</li>
		<li class="nav-item">	
			<a class="navbar-brand" style="font-size:12px; color: #FFF; text-decoration: none;" href="#" onclick="goTo('/recomm')">
				<div id="invita" style="display:flex; flex-direction:column; align-items:center;font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">
					<span id="imgInvita" class="material-symbols-outlined">Person_Add</span>
				</div>
				<div style="text-align: center">
					Invita
				</div>
			</a>
		</li>
		<li class="nav-item">	
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</li>
	</ul>
	<div class="collapse navbar-collapse" id="navbarText">
		<a class="navbar-brand" style="font-size:12px; color: #FFF; text-decoration: none; " href="#" onclick="goTo('/profile')">
			<div style="display:flex; flex-direction:column; align-items:center;font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">					
					<span class="material-symbols-outlined">person</span>
			</div>
			<div style="text-align: center;">
				Profilo
			</div>
		</a>
		<a class="navbar-brand" style="font-size:12px; color: #FFF; text-decoration: none; " href="#" onclick="goTo('/shopping')">
			<div style="display:flex; flex-direction:column; align-items:center;font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">					
					<span class="material-symbols-outlined">View_List</span>
			</div>
			<div style="text-align: center;">
				Ordini
			</div>
		</a>
{%if user.local.role=='admin'%}
	
	<a class="navbar-brand" style="font-size:12px; color: #FFF; text-decoration: none;" href="#" onclick="goTo('/listOfCustomer')">
		<div style="display:flex; flex-direction:column; align-items:center;font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">					
					<span class="material-symbols-outlined"> Groups </span>
			</div>
		<div> 
			Clienti
		</div>
	</a>
		
	<a class="navbar-brand" style="font-size:12px; color: #FFF; text-decoration: none;" href="#" onclick="goTo('/dashboard')">
		<div style="display:flex; flex-direction:column; align-items:center;font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">					
				<span class="material-symbols-outlined"> Local_Shipping </span>
		</div>
		<div style="text-align: center;">
			Consegne
		</div>
	</a>

	<a class="navbar-brand" style="font-size:12px; color: #FFF; text-decoration: none;" href="#" onclick="goTo('/Vcard')">
		<div style="display:flex; flex-direction:column; align-items:center;font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">					
					<span class="material-symbols-outlined"> Id_Card </span>
			</div>
		<div> 
			Vcard
		</div>
	</a>
	
	{%endif%}

	{% if user %}

	<span class="navbar-brand" style="float:right;">
		<a style="color:#fff;font-size:14px;text-decoration: none;" href="#" onclick="return goToLogout();">
			<div style="display:flex; flex-direction:column; align-items:center;font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">					
					<span class="material-symbols-outlined"> Logout </span>
			</div>
			<div style="font-size:14px;color:white">
				Esci
			</div>
		</a>
	</span>

	{% else %}

	<span class="navbar-brand" style="float:right;">
		<a style="color:#fff;font-size:14px;text-decoration: none;" href="#" onclick="goTo('/login')">
			<div style="display:flex; flex-direction:column; align-items:center;font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">					
					<span class="material-symbols-outlined"> Login </span>
			</div>
			<div>
				Entra
			</div>
		</a>
	</span>

{% endif %}

</div>
</nav>

<!------------------- NAVBAR EBD -------------------->

<div class="container-fluid blur" style="margin:10px 0px 100px 0px;" id="pagina-sottostante">
	<div class="col-12 " style="margin: 0px 0px 0px 0px;">
		<div class="row">
			<div class="col-sm-2 col-lg-4"></div>
			<div class="col-sm-8 col-lg-4" style="background-color:#2A0009;border-radius:12px 12px 0px 0px; margin-bottom: 0px">
				<div id="waiting" style="display:none">
					<img src="/img/ajax-loader-1.gif" alt="Loading..." />
				</div>
				{% for message in message %}
				<div style="margin:10px 0px 0px 0px;">
					<div id="errorMessage"></div>
					<script type="text/javascript">
						var errorClass = "alert-{{type}}";
						if ("{{type}}" == "") {
							errorClass = "alert-info";
						}
								// and give it some content
						var textMsg = "{{message}}";
						async function submitTranslation() {
							document.getElementById("waiting").style.display = 'block';

							fetch('/translateMsg', {
								method: 'POST',
								headers: {
									'Content-Type': 'application/json',
								},
								body: JSON.stringify({ 'inputMessage': textMsg, 'langCode': 'it' }),
							}).then(result => {
										//console.log("result: ",result);
								if (!result.ok) {
									throw new Error('Errore nella richiesta');
								}
								return result.json();

							}).then(async data => {
								textMsgTranslated = await data;
										//console.log('textMsgTranslated', textMsgTranslated);

										//Inizio parte HTML dinamica
								const errorDiv = document.getElementById("errorMessage");

								errorDiv.classList.add("alert", errorClass);

								const newContent = document.createTextNode(textMsgTranslated.result);
										// add the text node to the newly created div
								errorDiv.appendChild(newContent);
								window.scrollTo(0, 0);
								document.getElementById("waiting").style.display = 'none';

							}).catch(error => {
										//console.log('error', error);

								const errorDiv = document.getElementById("errorMessage");

								errorDiv.classList.add("alert", errorClass);
								const newContent = document.createTextNode(textMsg);
										// add the text node to the newly created div
								errorDiv.appendChild(newContent);
								window.scrollTo(0, 0);
								document.getElementById("waiting").style.display = 'none';
							});
						}

						submitTranslation();
					</script>
				</div>
				{% endfor %}

				{% block body %}
				{% endblock %}
			</div>

		</div>
	</div>
	<div class="col-12">
		<div class="row">
			<div class="col-sm-2 col-lg-4"></div>
			<div class="col-sm-8 col-lg-4" style="background:repeating-linear-gradient(135deg,#120004,#120004 3px,#120004 3px,#2A0009 6px);border-radius:0px 0px 12px 12px;">
				<div class="text-center" style="margin: 10px 0px 10px 0px; font-size:0.8em;">
					<p><a style="color:#009B95" href="infoCondizioniVendita"> Condizioni generali di vendita </a>
					</p>
					<p>
						<a style="color:#009B95" href="infoPrivacy">Privacy</a> &nbsp &nbsp|&nbsp &nbsp
						<a style="color:#009B95" href="infoCookie"> Cookie </a>
					</p>
					<input type="hidden" name="" value="" id="infoOrari" />
					<p><a style="color:#009B95" href="#" onclick="return openDocument('infoOrari.html')">Orari di
					apertura</a></p>

				</div>
				<div class="text-center" style="margin: 20px 0px 10px 0px; font-size:0.6em; color:#009B95">
					Birrificio Viana Srl (capitale sociale €10.000)<br>
					Sede legale in Via Molignati 12, 13878 - Candelo (BI)<br>
					P.IVA n° 02792790020 - n° REA BI – 314117 <br>
					Cod. Accisa IT00BIA00026R <br>
					email: birrificioviana@sharingbeer.it <br>
				</div>
			</div>
			<div class="col-sm-2 col-lg-4"></div>
		</div>
	</div>
</div>
<!-- PopUp normalmente nascosta -->
<div class="infoPopup" id="popup"></div>
<script type="text/javascript" src="/js/popups.js"></script>

<script type="text/javascript" src="/js/plusMinus.js"></script>

<script type="text/javascript">	
	// Loading iniziale della pagina con azioni da effettuare
	document.addEventListener("DOMContentLoaded", function() {
		document.getElementById("loading").style.display = 'none';
	});

  // Ricarico la pagina se l'utente clicca INDIETRO sul bottone del browser
	window.addEventListener('pageshow', function(event) {
    // Controlla se la pagina è stata effettivamente caricata dal server
		if (event.persisted) {
      // Ricarica la pagina
			console.log('RELOAD PAGE')
			location.reload();
		}
	});

	if ( {{amiciDaInvitare}} ) {
		console.log('HAI AMICI DA INVITARE')
			document.querySelector('#invita').classList.add('invita_div'); // colora a intermittenza
			document.querySelector('#imgInvita').classList.add('pulsa');  // anima l'immagine
		} else {
			console.log('NON HAI AMICI DA INVITARE')
		}

		function goTo(pagina) {
			document.getElementById("loading").style.display = 'block';
			return window.location.href = (pagina)  
		}
		function goToLogout() {
			document.getElementById("loading").style.display = 'block';
			post('/logout');
		}
	/**
  * sends a request to the specified url from a form. this will change the window location.
  * @param {string} path the path to send the post request to
  * @param {object} params the parameters to add to the url
  * @param {string} [method=post] the method to use on the form
  */
		function post(path, params, method='post') {
			console.log('POST',path, params)
    // The rest of this code assumes you are not using a library.
    // It can be made less verbose if you use one.
			const form = document.createElement('form');
			form.method = method;
			form.action = path;

			for (const key in params) {
				if (params.hasOwnProperty(key)) {
					const hiddenField = document.createElement('input');
					hiddenField.type = 'hidden';
					hiddenField.name = key;
					hiddenField.value = params[key];
					form.appendChild(hiddenField);
				}
			}
			document.body.appendChild(form);
			form.submit();
		}
	</script>	

</body>

</html>