  
    <div class="row">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-md-6 col-lg-4" style="background-color:#2A0009;border-radius:12px; ">
      <h3 class="text-white text-center" style="margin:6px 0px 0px 0px;">You Cart</h3>
      <hr style="border-top: 1px solid #5375BD;">   
      
      {% for prod in cart.items %}
        <div class="row col-md-12 col-lg-12" >
          
          <div class="col">
            <p class="text-white text-left"> {{prod.name}} : nome della biarra e caratteristiche varie</p>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col">
            <table class="mx-auto" style="width:100%;">
              <tr>
                <td>
                  <p class="text-white text-center font-weight-bold">{{prod.qty}}</p>
                </td>
                <td>
                  <p class="text-white text-center font-weight-normal">x</p>
                </td>
                <td>
                  <p class="text-white text-center font-weight-bold">{{prod.prettyPrice}} </p>
                </td>
              </tr>
              <tr>
                <td rowspan="2"> 
                  <div>
                    <img class="img-responsive rounded mx-auto" src="http://placehold.it/80x100">
                  </div> 
                </td>
                <td>
                  <form method="POST" action="cart/plus">
                    <input type="hidden" name="item_id" value="{{prod.id}}">
                    <input type="hidden" name="_csrf" value="{{_csrf}}">
                    <button class="btn btn-link" type="submit">
                      <svg style="width:40px;height:40px;vertical-align:top" viewBox="0 0 24 24">
                        <path fill="#fff" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z">
                        </path>
                        <title>Plus</title>
                      </svg>
                    </button>
                  </form> 
                </td>
                <td>
                  <form method="POST" action="shop">
                    <input type="hidden" name="item_id" value="{{prod.id}}">
                    <input type="hidden" name="_csrf" value="{{_csrf}}">
                    <button class="btn btn-link" type="submit">
                      <svg style="width:40px;height:40px;vertical-align:top" viewBox="0 0 24 24">
                        <path fill="#fff" d="M12,3A3,3 0 0,0 9,6H15A3,3 0 0,0 12,3M19,6A2,2 0 0,1 21,8V20A2,2 0 0,1 19,22H5C3.89,22 3,21.1 3,20V8C3,6.89 3.89,6 5,6H7A5,5 0 0,1 12,1A5,5 0 0,1 17,6H19M9,19L16.5,14L9,10V19Z"></path>
                        <title>Shop</title>
                      </svg>
                    </button>
                  </form> 
                </td>
              </tr>
              <tr>
                <td>
                  <form method="POST" action="cart/minus">
                    <input type="hidden" name="item_id" value="{{prod.id}}">
                    <input type="hidden" name="_csrf" value="{{_csrf}}">
                    <button class="btn btn-link" type="submit">
                      <svg style="width:40px;height:40px;vertical-align:top" viewBox="0 0 24 24">
                        <path fill="#fff" d="M17,13H7V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"></path>
                        <title>Minus</title>
                      </svg>
                    </button>
                  </form>
                </td>
                <td>
                  <form method="POST" action="cart/delete">
                    <input type="hidden" name="item_id" value="{{prod.id}}">
                    <input type="hidden" name="_csrf" value="{_csrf}">
                    <button class="btn btn-link" type="submit">
                      <svg style="width:40px;height:40px;vertical-align:top" viewBox="0 0 24 24">
                        <path fill="#fff" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"></path>
                        <title>Delete</title>
                      </svg>
                    </button>
                  </form>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <hr style="border-top: 1px solid #5375BD;"> 
                </td>
              </tr>
            </table>  
          </div>
        </div>
      {% endfor %}          
  

  {% if numProducts != 0 %}
    <div class="row">
      <div class="col-lg-12 col-md-12" style="background-color:#FFBB35;border-radius:0px 0px 12px 12px">
        <br>
        <div>
          <h4 class="text-center">Total</h4>            
          <div>
            <h4 class="text-center"><strong>€{{totalPrice}}</strong></h4>            
          </div>
         
          <div id="paypal-button-container"></div>

          <script>
          // Render the PayPal button into #paypal-button-container
            paypal.Buttons({

              // Call your server to set up the transaction
              createOrder: function(data, actions) {
                  console.log('!!! createOrder !!!')
                  return fetch('/create-paypal-transaction', {
                      method: 'post'
                  })
                  .then(function(res) {
                      console.log('createOrder.res->',res);
                      if (res.ok===false) {
                        return window.location.href = ("/");
                      } else {
                        return res.json();
                      }
                  })
                  .then(function(orderData) {
                      console.log('orderData.orderID-> ',orderData.orderID)
                      return orderData.orderID;
                  })
                  /*.catch(function(error){
                      console.error('Error:', error);
                      //window.location.href = ("/");
                  })*/
              },

              // Call your server to finalize the transaction
              onApprove: function(data) {
                console.log('!!! onApprove !!!')
                return fetch('/authorize-paypal-transaction', {
                  headers: {
                    'content-type': 'application/json'
                  },
                  method: 'post',
                  body: JSON.stringify({
                    orderID: data.orderID
                  })
                }).then(function(res) {
                    console.log('onApprove.res->',res);
                    return res.json();
                  }).then(function(orderData) {
                    // Three cases to handle:
                    //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                    //   (2) Other non-recoverable errors -> Show a failure message
                    //   (3) Successful transaction -> Show confirmation or thank you

                    // This example reads a v2/checkout/orders capture response, propagated from the server
                    // You could use a different API or structure for your 'orderData'
                    var errorDetail = Array.isArray(orderData.details) && orderData.details[0];

                    if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                        return actions.restart(); 
                        // EXPLAIN:
                        // Recoverable state, per:
                        // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
                    }

                    if (errorDetail) {   
                        var msg = 'Sorry, your transaction could not be processed.';
                        if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                        if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                        return alert(msg); // Show a failure message (try to avoid alerts in production environments)
                    }

                    // Successful capture! For demo purposes:
                    // console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    // const obj = JSON.parse(JSON.stringify(orderData, null, 2));
                    // var transaction = obj.orderData.result.purchase_units[0].payments.captures[0];
                    // console.log('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');

                    window.location.href = ("/recomm");
                });
                /*}).then(function(orderData) {
                  console.log('Transaction approved by->', orderData.details);
                });*/
              },

              style: {
                  layout:  'vertical',
                  height:   48,
                  color:   'blue',
                  shape:   'rect',
                  label:   'paypal'
              }
            }).render('#paypal-button-container');
          </script>
          <br>
        </div>

    </div>
      
  {% else %}
      <div class="row">
        <div class="col">
          <h4><p class="text-white text-center">Cart is empty... Go! to </p></h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form method="GET" action="/shop">
            <button type="submit" class="btn btn-my btn-lg btn-block" id="mybutton">
              <h4>Shop</h4>
            </button>
            <br>
         </form>
       </div>
      </div>
  {% endif %}

    <div class="col-md-3 col-lg-4"></div>
  </div>
