{% extends "layouts/main.njk" %}
{% block body %}
<h3 class="text-white text-center bg-dark">Il tuo Carrello</h3>
<hr style="border-top: 1px solid #5375BD;">

<table class="mx-auto" width="100%">
{% for prod in cart.items %}
  <tr> 
    <td width="45%" rowspan="2">
      <div>
        <img class="img-responsive rounded mx-auto" src="{{prod.linkImage}}" width="100%" height="100%">
      </div>
    </td>
    <td width="55%" height="100%">
      <div class="col">
         <h5 class="card-title text-white text-left font-weight-bold"><p style="font-size:30px;"><u>{{prod.name}}</u></p></h5>
         <div class="text-white text-left" style="font-size:11px">{{prod.quantity}}</div>
      </div>
    </td>
  </tr>
  <tr> 
    <td width="55%" height="50">
      <table width="100%" valign="middle">
        <tr>
          <td width="20" height="20">
            <form method="POST" action="cart/minus">
              <input type="hidden" name="item_id" value="{{prod.id}}">
              <input type="hidden" name="_csrf" value="{{_csrf}}">
              <button class="btn btn-link" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path fill="#ffffff" 
                  d="M360-640v-80h240v80H360ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/>
                  <title>Togli</title>
                </svg>
              </button>
            </form>
          </td>
          <td width="40" class="text-white text-center">{{prod.qty}}</td>
          <td width="20">
            <form method="POST" action="cart/plus">
              <input type="hidden" name="item_id" value="{{prod.id}}">
              <input type="hidden" name="_csrf" value="{{_csrf}}">
              <button class="btn btn-link" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path fill="#ffffff"
                   d="M440-600v-120H320v-80h120v-120h80v120h120v80H520v120h-80ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/>
                  <title>Aggiungi</title>
                </svg>
              </button>
            </form>
          </td>
          <td width="100%" class="text-white" rowspan="2" valign="middle" align="right">
            <p style="font-size:25px;">{{prod.prettyPrice}}</p>
          </td>
        </tr>
        <tr>
          <td width="80" class="text-white" colspan="3" valign="top" align="center" height="12">
            <form method="POST" action="cart/delete">
              <input type="hidden" name="item_id" value="{{prod.id}}">
              <input type="hidden" name="_csrf" value="{_csrf}">
              <button class="btn btn-link" type="submit"><p style="font-size:12px; font-color:gray;">Rimuovi</button>
            </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <hr style="border-top: 1px solid #5375BD;">
    </td>
  </tr>
  
  {% endfor %}
</table>

 <table width="100%">
    <tr>
      <td>

  {% if numProducts != 0 %}

      <div>
        <div>
          <h4 class="text-white text-center">Totale ordine: <strong>€{{totalPrice}}</strong></h4>
        </div>
      </div>
    
    {% if (userStatus != 'customer') or (nextStep != 'payment') %}
    
      <form role="form" action="/register" method="GET">
      <div style="margin-bottom: 40px;">
        <button type="submit" class="btn btn-my btn-lg btn-block" id="mybutton">
          Procedi con l'acquisto
        </button>
      </div>
      </form>
    {% else %}
        <!--
          HELP and DOC
          https://developer.paypal.com/docs/checkout/standard/integrate/
        -->

        <script src="https://www.paypal.com/sdk/js?client-id=AaC3hpI3SPtJoB-FZxzBIyehflv_IhSgaefJUIgtOnYFpCb6mIFXGCvqvofV9xbSTQfupnu1w35HvrWv&currency=EUR&disable-funding=sofort,venmo,mybank,card"> </script>

        <!-- Set up a container element for the button -->
        <div id="paypal-button-container"></div>
        <script>
        // Render the PayPal button into #paypal-button-container
          paypal.Buttons({
            // Order is created on the server and the order id is returned
            createOrder: (data, actions) => {
                return fetch('/api/orders', {
                    method: 'post'
                })
                .then((res) => {
                    console.log('createOrder.res->',res);
                    if (!res.ok) {
                      return window.location.href = ("/infomessage?msg=Errore durante la chiamata Paypal - pagamento non effettuato&type=info");
                    } else {
                      return res.json();
                    }
                })
                .then((orderId) => {
                    console.log('PAYPAL ORDER ID: ',orderId.id)
                    return orderId.id;
                })
                .catch((e) => {
                  console.error(e);
                  return window.location.href = ("/infomessage?msg=Pagamento non effettuato&type=info");
                });
            },
            // Call your server to finalize the transaction
            onApprove: function(data, actions) {
              return fetch('/api/orders/'+ data.orderID +'/capture', {
                method: 'post',
                })
                .then(function(res) {
                  console.log('onApprove.res->',res);
                  if (!res.ok) {
                    return window.location.href = ("/infomessage?msg=Errore durante la chiamata Paypal - pagamento non effettuato&type=info");
                  } else {
                    return res.json();
                  }
                })
                .then(function(orderData) {
                  console.log(
                  "Capture result",
                  orderData,
                  JSON.stringify(orderData, null, 2)
                  );
                  var transaction = orderData.purchase_units[0].payments.captures[0];
                    window.location.href = ("/infomessage?msg=Transaction " +
                    transaction.status +
                    ": " +
                    transaction.id +
                    '&type=info');
                  });
            },
            onError: function (err) {
                  window.location.href = ("/infomessage?msg=Paypal ha risposto in modo anomalo&type=danger");
            },
            style: {
                layout:  'vertical',
                height:   48,
                color:   'blue',
                shape:   'rect',
                label:   'paypal'
            },
          })
          .render('#paypal-button-container');
        </script>
        <br>
      {% endif %}
  {% else %}
    <div class="col">
        <h4><p class="text-white text-center">Il carrello è vuoto...</p></h4>
    </div>
    <div class="col">
      <form method="GET" action="/shop">
        <button type="submit" class="btn btn-my btn-lg btn-block" id="mybutton">
          <h4>Shop</h4>
        </button>
        <br>
     </form>
    </div>
  {% endif %}
    </td>
  </tr>
</table>
{% endblock %}
