{% extends "layouts/main.njk" %}
{% block body %}

      <h3 class="text-white text-center" style="margin:6px 0px 0px 0px;">Change Password</h3>
      <hr style="border-top: 1px solid #5375BD;">

      <form role="form" autocomplete="off" action="/change" method="post">
          <input type="hidden" name="token" value="{{token}}">
          <input type="hidden" name="email" id="email" value="{{email}}">
          <div class="form-group">
            <p class="text-white font-weight-light text-justify" style="font-size:0.7em;">La password deve essere di almeno 6 caratteri, contenente un numero, una lettera minuscola, una maiuscola e un carattere speciale.</p> 
            <div style="color:#ffc107; font-size:0.9em; margin-bottom:5px;" id="wrongPwd"></div>
            <input placeholder="Password" autocomplete="new-password" type="password" class="form-control" id="inputPassword" name="password" autofocus  required>
          </div>

          <div class="form-group">            
            <div style="color:#ffc107; font-size:0.9em; margin-bottom:5px;" id="wrongPwd2"></div>
            <input placeholder="Conferma Password" type="password" class="form-control" id="confirmPassword" name="confirm" required>
          </div>
          <div style="margin-bottom: 40px; margin-top:40px;">
            <button type="submit" class="btn btn-my btn-lg btn-block" onclick="return fieldsResetControl()">
              Change Password
            </button>
          </div>
      </form>
    
  
{% endblock %}
