INFORMATIVA AI SENSI DELL’ART. 13 DEL REGOLAMENTO UE N. 679/2016 (relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali, nonché alla libera circolazione di tali dati)

Gent.le Cliente/Fornitore/Visitatore,

la società Selezione Baladin S.r.l., con sede operativa in Località Valle, 25 – 12060 Piozzo (CN) Italia, P.IVA 02947730046 in qualità di Titolare del trattamento, ai sensi dell’art. 13 del Regolamento UE n. 679/2016 desidera informarLa che i suoi dati saranno trattati secondo i principi stabiliti dal GDPR (Regolamento generale sulla protezione dei dati UE 679/2016), ovvero nel rispetto del principio di liceità, correttezza, trasparenza, limitazione delle finalità e della conservazione, minimizzazione dei dati, esattezza, integrità e riservatezza.

    OGGETTO DEL TRATTAMENTO 

I dati oggetto del trattamento sono: 

    dati di navigazione;

    dati personali, identificativi e di contatto.

    FONTE DEI DATI TRATTATI

Il Titolare tratta i dati di navigazione e i dati personali conferiti spontaneamente dall’interessato in occasione di:

        visite presso le sedi o telefonate;

        prenotazioni visite guidate;

        richiesta di preventivi o proposizione di offerte;

        precedenti transazioni;

        contatti diretti per partecipazione a eventi, mostre, esposizioni, ecc..;

        interazioni attraverso il sito internet (compilazione dei campi necessari al fine di procedere ad acquisti on line o del form “Contatti”);

        iscrizione al servizio di newsletter.

    FINALITÀ E BASE GIURIDICA DEL TRATTAMENTO

I dati di natura personale da Lei volontariamente forniti, saranno oggetto di trattamento per le finalità di seguito indicate.

Per quanto concerne i dati di navigazione: consentire all’utente la navigazione sul sito del Titolare del trattamento; effettuare ricerche/analisi statistiche su dati aggregati o anonimi, senza possibilità di identificare il Visitatore, volte a misurare il funzionamento, il traffico e l’interesse del Sito stesso; adempiere obblighi giuridici ai quali il Titolare sia soggetto.

Per quanto riguarda i dati personali, identificativi e di contatto:

    in esecuzione del contratto tra l’interessato e SELEZIONE BALADIN S.R.L. o in esecuzione di misure precontrattuali adottate su richiesta dell’interessato stesso per:

        espletare le attività amministrativo-contabili strettamente connesse e strumentali agli adempimenti fiscali e burocratici e alla gestione organizzativa delle prestazioni richieste;

        scambiare informazioni, ivi comprese le attività pre e post contrattuali;

        fornire i beni e i servizi richiesti e tutelare le posizioni creditorie da essi derivanti;

        formalizzare le richieste di informazioni, predisporre preventivi od offerte, gestire le trattative e i rapporti precontrattuali;

        formulare richieste o evadere le richieste pervenute.

    Previo consenso dell’interessato per:

        inviare comunicazioni commerciali e/o promozionali concernenti prodotti, servizi, novità, eventi e promozioni di Selezione Baladin S.r.l. o di aziende parte del gruppo;

        effettuare analisi statistiche interne, nonché ricerche di mercato finalizzate alla progettazione di offerte commerciali;

        inviare a mezzo posta elettronica la newsletter richiesta e per consentire all’interessato di far cessare l'invio, ovvero di cancellarsi dalla lista dei destinatari;

        analizzare i comportamenti, le abitudini e le propensioni al consumo dell’interessato, al fine di migliorare i prodotti e i servizi forniti dal Titolare del trattamento, nonché per soddisfare le specifiche esigenze della clientela (profilazione);

        comunicare i dati personali forniti dall’interessato a società riferibili alla medesima compagine sociale.

Con riferimento alle attività di marketing e di profilazione, si precisa che, in caso di Suo mancato e specifico consenso al trattamento, non sarà possibile svolgere le predette attività.

    COOKIE POLICY

Questa Applicazione fa utilizzo di Cookie. Per saperne di più e per prendere visione dell’informativa dettagliata, l’Utente può consultare la Cookie Policy.

    DIFFUSIONE E COMUNICAZIONE DEI DATI

I dati personali trattati dal Titolare non saranno diffusi, ovvero non ne verrà data conoscenza a soggetti indeterminati, in nessuna possibile forma, inclusa quella della loro messa a disposizione o semplice consultazione.

I dati vengono comunicati ai destinatari nella misura strettamente necessaria in relazione alle finalità di cui sopra. Potranno essere comunicati ai lavoratori che operano alle dipendenze del Titolare; in particolare, sulla base dei ruoli e delle mansioni espletate, alcuni di essi sono stati legittimati a trattare i dati personali, nei limiti delle loro competenze ed in conformità alle istruzioni impartite. Potranno essere comunicati a società riferibili alla medesima compagine sociale e, nei limiti strettamente necessari, ai soggetti esterni che collaborano con il Titolare ed ai soggetti che per finalità di evasione degli acquisti o di altre richieste o di prestazioni di servizio relativi alla transazione o al rapporto contrattuale con il Titolare, debbano fornire beni e/o eseguire prestazioni o servizi. Potranno, inoltre, essere comunicati ai soggetti legittimati ad accedervi in forza di disposizioni di legge, regolamenti, normative comunitarie.

Infine, i dati potranno essere comunicati a terzi appartenenti alle seguenti categorie:

    soggetti che forniscono servizi per la gestione del sistema informativo usato e per il funzionamento del Sito;

    liberi professionisti, studi o società nell'ambito di rapporti di assistenza e consulenza fiscale e di diritto del lavoro;

    istituti di credito;

    autorità competenti per adempimenti di obblighi di legge e/o di disposizioni di organi pubblici, su richiesta.

    TRASFERIMENTO DEI DATI

Il Titolare del trattamento non trasferisce i dati personali in paesi terzi o a organizzazioni internazionali. Tuttavia, si riserva la possibilità di utilizzare servizi in cloud; nel qual caso, i fornitori dei servizi saranno selezionati tra coloro che forniscono garanzie adeguate, così come previsto dall’art. 46 GDPR 679/16.

    MODALITÀ DEL TRATTAMENTO E CONSERVAZIONE DEI DATI

Il trattamento sarà svolto in forma automatizzata e/o manuale, con modalità e strumenti volti a garantire la massima sicurezza e riservatezza, ad opera di soggetti di ciò appositamente incaricati in ottemperanza a quanto previsto dall’art. 4 e dal principio di accountability del G.D.P.R.

Il Titolare del trattamento conserva e tratta i dati personali per il tempo necessario ad adempiere alle finalità indicate, o allo svolgimento di quanto richiesto dall’utente. Successivamente, i dati personali saranno conservati, e non ulteriormente trattati, per il tempo stabilito dalle vigenti disposizioni in materia civilistica e fiscale.

I dati trattati per finalità di marketing saranno conservati dalla Società dal momento in cui l’interessato ha fornito il proprio consenso fino a che tale consenso non sarà revocato.

    DIRITTI DELL’INTERESSATO

Ai sensi del GDPR 679/2016 l’interessato ha diritto di accesso (art. 15), diritto di rettifica (art. 16), diritto alla cancellazione (art. 17), diritto alla limitazione del trattamento (art. 18), diritto alla portabilità (art. 20), diritto di opposizione (art. 21), diritto di opposizione al processo decisionale automatizzato (art. 22).

L’interessato al fine di far valere i propri diritti può contattare il Titolare del trattamento specificando l’oggetto della sua richiesta, il diritto che intende esercitare e allegando fotocopia di un documento di identità che attesti la legittimità della richiesta al seguente indirizzo:

Spett. SELEZIONE BALADIN S.R.L.

Località Valle, 25 – 12060 Piozzo (CN) Italia

Oppure inviando una e-mail al seguente indirizzo di posta elettronica:

privacy@baladin.com

    REVOCA DEL CONSENSO E PROPOSIZIONE DI RECLAMO

Con riferimento all’art. 6 del GDPR 679/16, l’interessato può revocare in qualsiasi momento il consenso prestato, fatto salvo quello relativo alle comunicazioni di dati a soggetti terzi previste per legge, la cui mancata trasmissione potrebbe compromettere in tutto o in parte la fornitura del servizio.

L’interessato ha il diritto di proporre reclamo all’autorità di controllo dello stato di residenza.

    RIFIUTO AL CONFERIMENTO DEI DATI

L’interessato non può rifiutarsi di conferire al Titolare i dati personali necessari per ottemperare le norme di legge che regolamentano le transazioni commerciali e la fiscalità. Il conferimento di ulteriori dati personali potrebbe essere necessario per migliorare la qualità e l’efficienza della transazione. Pertanto, il rifiuto al conferimento dei dati necessari per legge impedirà l’evasione degli ordini; mentre il conferimento dei dati ulteriori potrà compromettere in tutto o in parte l’evasione di altre richieste e la qualità e l’efficienza della transazione stessa.

Le persone che operano in nome e per conto di persone giuridiche possono rifiutarsi di conferire al Titolare i loro dati personali. Il conferimento di questi è però necessario per una corretta ed efficiente gestione del rapporto contrattuale. Pertanto, un eventuale rifiuto al conferimento potrà compromettere in tutto o in parte il rapporto contrattuale stesso.

Per quanto concerne i dati conferiti in occasione dell’iscrizione al servizio di newsletter e della compilazione del form “Contatti” l'interessato può rifiutarsi di comunicare gli stessi al Titolare, poiché il conferimento è facoltativo. Tuttavia, la compilazione dei campi indicati è indispensabile per poter ricevere la newsletter richiesta e per poter evadere le diverse richieste pervenute.

    PROCESSI DECISIONALI AUTOMATIZZATI

Il Titolare effettua trattamenti che consistano in processi decisionali automatizzati sui dati.

    TITOLARE DEL TRATTAMENTO

Il Titolare del trattamento dei dati è SELEZIONE BALADIN S.R.L. con sede in Località Valle, 25 – 12060 Piozzo (CN) Italia. Il Titolare del trattamento garantisce la sicurezza, la riservatezza e la protezione dei dati personali di cui è in possesso, in qualsiasi fase del processo di trattamento degli stessi.

L’elenco aggiornato dei Responsabili interni ed esterni è disponibile presso il Titolare del trattamento.

    MODIFICHE ALLA PRESENTE INFORMATIVA

Il Titolare si riserva la possibilità di modificare il contenuto della presente informativa, in tutto o in parte, anche a causa di variazioni della normativa Privacy.

Il Titolare effettuerà la pubblicazione sul Sito della versione aggiornata del presente atto, e da quel momento essa sarà vincolante: l’interessato è perciò invitato a visitare con regolarità questa sezione.Our website uses cookies to provide your browsing experience and relavent informations.Before continuing to use our website, you agree & accept of our  <a href="#">Cookie Policy & Privacy</a>