{% extends "layouts/main.njk" %}
{% block body %}
	
  <h3 class="text-white text-center bg-dark"> Conferma </h3>
  <hr style="border-top: 1px solid #5375BD;">

  <div class="card" style="background-color:#2A0009;border-color:#903246;margin: 30px 0px 10px 0px;">
    <div class="card-body">
      <div class="flex-row">
        <div class="align-self-center">
          <p class="text-white font-weight-light text-center">
            Il tuo indirizzo email <br> <span style="color:withe; font-size:1.1em; font-weight: bold">{{email}}</span> <br> è verificato. <br>
          </p>
          <p class="text-white font-weight-light text-justify">
            Sei ora autenticato e puoi procedere con l'acquisto<br><br>           
		        Grazie per bere <span style="color:#FFBB35; font-size:1.1em;">Birra Viana</span> e far conoscere <span style="color:#5375bd; font-size:1.1em;">Sharingbeer.</span><br><br>
            Mi raccomando, bevi in modo responsabile :)
          </p><br>
        </div>
      </div>
      <div class="col">
        <form method="GET" action="/shop">
          <button type="submit" class="btn btn-my btn-lg btn-block" id="mybutton">
           <h4>Shop</h4>
          </button>
          <br>
        </form>
      </div>
    </div>
    
  </div>
    
      
{% endblock %}


