<!-- last modify 17-12-2021 -->

{% extends "layouts/main.njk" %}
{% block body %}

      <h3 class="text-white text-center" style="margin:6px 0px 0px 0px;">Forgot Password</h3>
      <hr style="border-top: 1px solid #5375BD;">
      <!-- show any messages that come back with authentication -->
      {% if message %}
      {% for message in message %}
      <div class="alert alert-danger">{{message}}</div>
      {% endfor%}
      {% endif %}

      <form role="form" action="/forgot" method="post">
        <div class="form-group">
          <label for="inputUsernameEmail" class="text-white col-form-label-lg">Email</label>
          <div style="color:#ffc107; font-size:0.9em;" id="wrongMail"></div> 
          <input type="text" class="form-control" id="inputUsernameEmail" name="email" placeholder="your@email.address" autofocus>
        </div>
        <div style="margin-bottom: 40px;">
          <button type="submit" class="btn btn-my btn-lg btn-block" onclick="return fieldLoginControl()">
            Reset Password
          </button>
        </div>
      </form>

{% endblock %}
