<!-- last modify 17-12-2021 -->

{% extends "layouts/main.njk" %}
{% block body %}

  <div class="row">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-md-6 col-lg-4" style="background-color:#2A0009;border-radius:12px; ">
      <h3 class="text-white text-center" style="margin:6px 0px 0px 0px;">Forgot Password</h3>
      <hr style="border-top: 1px solid #5375BD;">
      <!-- show any messages that come back with authentication -->
      {% if message %}
      {% for message in message %}
      <div class="alert alert-danger">{{message}}</div>
      {% endfor%}
      {% endif %}

      <form role="form" action="/forgot" method="post">
        <div class="form-group">
          <label for="inputUsernameEmail">Email</label>
          <input type="text" class="form-control" id="inputUsernameEmail" name="email" placeholder="your@email.address" autofocus>
        </div>
        <button type="submit" class="btn btn-my btn-lg btn-block"">
          Reset Password
        </button>
      </form>
      <br>
    </div>
    <div class="col-md-3 col-lg-4"></div>
  </div>

{% endblock %}
