{% extends "layouts/main.njk" %}
{% block body %}

      <h3 class="text-white text-center bg-dark"> Invita amici </h3>
      <hr style="border-top: 1px solid #5375BD;">

      {% if message %}
        {% for message in message %}
          <div class="alert alert-{{type}} autofocus">{{message}}</div>
        {% endfor %}
      {% endif %}

      <div>
        <p class="text-left text-white"> Amici invitati <span style="font-size:1.2em;">{{friendsInvited}}</span></p>
        <div class="progress" style="margin-bottom:20px;">
          <div class="progress-bar  progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{friendsInvited}}" aria-valuemin="0" aria-valuemax="{{invitationAvailable}}" style="width:{{percentage}}%; background-color:#ffc85d">
          </div>
        </div>
        <p class="text-right text-white"> Inviti disponibili <span style="font-size:1.2em;">{{invitationAvailable}}</span></p>
      </div>

      <div class="card" style="background-color:#2A0009;border-color:#903246;margin: 30px 0px 10px 0px;">
        <div class="card-body">
          <div class="flex-row">
            <!--h3 class="card-title text-white font-weight-light text-center"> Invita i tuoi amici a bere birra Viana e ottieni ad ogni loro acquisto punti Booze che ti fanno bere gratis </h3-->
            <div ><img class="mx-auto d-block" src="img/cincin.png" style="height:100%;width:100%;margin-bottom:10px"></div>
            <div class="align-self-center">
              <p class="text-white font-weight-light text-justify">
                <span style="font-size:1.2em;">invita i tuoi amici </span> a bere <img style="vertical-align: baseline" height="20" src="/img/birra_viana.png"> e ottieni ad ogni loro acquisto punti <span  style="font-size:1.2em;"> Pinta </span> per <span  style="font-size:1.5em;"> sconti del 50%!</span><span style="float:right;"><a href="#" onclick="return openDocument('infoFriend')"><svg style="vertical-align:bottom" xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" fill="#5375BD"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg></a></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <form role="form" action="/recomm" method="POST">
        <!--div class="form-group">
          <label for="inputUsernameEmail" class="text-white col-form-label-lg"> Email del tuo amico </label>
          <div class="input-error" id="wrongMail"></div>
          <input type="email" class="form-control" id="inputUsernameEmail"
          name="email" placeholder="your@email.address" {% if message=='' %} autofocus {% endif %} required {{controlSates}}>
        </div-->

        <div class="form-group">

          <label for="inputUsernameEmail" class="text-white col-form-label-lg"> Nome del tuo amico </label>
          <input type="text" class="form-control" id="inputFirsName"
          name="firstName" placeholder="Nome" required {{controlSates}}>
        </div>
        <div style="margin-bottom: 40px; margin-top: 40px;">
          <button type="submit" class="btn btn-my btn-lg btn-block {{controlSates}}" id="mybutton" onfocus="this.disabled={{[flag]}}" onclick="return fieldLoginControl()">
            Crea l'invito
          </button>
        </div>
      </form>

{% endblock %}
