{% extends "layouts/main.njk" %}
{% block body %}

      <h3 class="text-white text-center bg-dark"> Invita amici </h3>
      <hr style="border-top: 1px solid #5375BD;">

      {% if message %}
        {% for message in message %}
          <div class="alert alert-{{type}} autofocus">{{message}}</div>
        {% endfor %}
      {% endif %}

      <div>
        <p class="text-left text-white"> Amici invitati <span style="font-size:1.2em;">{{friendsInvited}}</span></p>
        <div class="progress" style="margin-bottom:20px;">
          <div class="progress-bar  progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{friendsInvited}}" aria-valuemin="0" aria-valuemax="{{invitationAvailable}}" style="width:{{percentage}}%; background-color:#ffc85d">
          </div>
        </div>
        <p class="text-right text-white"> Inviti disponibili <span style="font-size:1.2em;">{{invitationAvailable}}</span></p>
      </div>

      <div class="card" style="background-color:#2A0009;border-color:#903246;margin: 30px 0px 10px 0px;">
        <div class="card-body">
          <div class="flex-row">
            <!--h3 class="card-title text-white font-weight-light text-center"> Invita i tuoi amici a bere birra Viana e ottieni ad ogni loro acquisto punti Booze che ti fanno bere gratis </h3-->
            <div ><img class="mx-auto d-block" src="img/cincin.png" style="height:100%;width:100%;margin-bottom:10px"></div>
            <div class="align-self-center">
              <p class="text-white font-weight-light text-justify">
                <span style="font-size:1.2em;">invita i tuoi amici </span> a bere <img style="vertical-align: baseline" height="20" src="/img/birra_viana.png"> e ottieni ad ogni loro acquisto punti <span  style="font-size:1.2em;"> Pinta </span> per <span  style="font-size:1.5em;"> sconti fino al 50%!</span><span style="float:right;"><a href="#" onclick="return openDocument('infoFriend')"><svg style="vertical-align:bottom" xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" fill="#5375BD"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg></a></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputUsernameEmail" class="text-white col-form-label-lg"> Nome del tuo amico </label>
        <div class="input-error" id="wrongFirstName"></div>
        <input type="text" class="form-control" id="inputFirstName" value=""
        name="firstName" placeholder="Nome" required {{controlSates}} autofocus>
      </div>
      <div style="margin-bottom: 40px; margin-top: 40px;">
        <button type="submit" class="btn btn-my btn-lg btn-block {{controlSates}}" id="mybutton" onfocus="this.disabled={{[flag]}}" onclick="return share('{{token}}','{{parentName}}','{{server}}')">
          Crea l'invito e condividilo
        </button>
      </div>
  

<script  type="text/javascript">

  function share(token,parentName,server) {
    if (document.getElementById("inputFirstName").value == "") {
      let text = "Inserire il Nome";
      document.getElementById("wrongFirstName").innerHTML = text;
      document.getElementById("inputFirstName").focus();
    } else {
      let firstName = capitalizeFirstLetter(document.getElementById("inputFirstName").value);
      let htmlText = "Ciao "+firstName+", </br> ti mando il link con il codice invito per accedere in Sharingbeer.it dove potrai acquistare Birra Viana.</br> Hai uno sconto del X% su acquisto di un Box6beer </br></br>"+server+"/validation?token="+token+"</br></br>"+parentName;
      let textText = "Ciao "+firstName+", ti mando il link con il codice invito per eccedere in Sharingbeer.it dove potrai acquistare Birra Viana. Hai uno sconto del X% su acquisto di un Box6beer";
    
      let shareData = {
        title: 'Birrificio Viana - Codice invito SharingBeer',
        text: textText,
        url: token
      }
    
      if (navigator.canShare) {
        navigator.share(shareData)
          .then(() =>
            post('/recomm',{firstName:firstName,token:token})
          )
          .catch((e) =>
            resultPara.textContent = 'Error: ' + e
          )
      } else {
        //apre il client di posta
        window.location.href = "mailto:?subject=Birrificio Viana - Codice invito SharingBeer&body="+encodeURIComponent(htmlText);
        //redirige alla pagina recomm POST
        post('/recomm',{firstName:firstName,token:token});
      }
    }
  }

  function capitalizeFirstLetter(string) {
    if (typeof(string) != "undefined") {
      return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
    }
  }
  /**
  * sends a request to the specified url from a form. this will change the window location.
  * @param {string} path the path to send the post request to
  * @param {object} params the parameters to add to the url
  * @param {string} [method=post] the method to use on the form
  */
  function post(path, params, method='post') {

    // The rest of this code assumes you are not using a library.
    // It can be made less verbose if you use one.
    const form = document.createElement('form');
    form.method = method;
    form.action = path;

    for (const key in params) {
      if (params.hasOwnProperty(key)) {
        const hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = key;
        hiddenField.value = params[key];

        form.appendChild(hiddenField);
      }
    }

    document.body.appendChild(form);
    form.submit();
  }
</script>

{% endblock %}
