{% extends "layouts/main.njk" %} 
{% block body %}

<div class="text-white text-center" style="margin:5px 0px 0px 0px; font-size:1.5em"> Sharingbeer </div>

<div class="embed-responsive embed-responsive-16by9" style="margin:10px 0px 0px 0px; border-radius:5px 5px 5px 5px">
  <!--video class="embed-responsive-item" src="video/BiarraViannaColor_Final_Logo_ligth_24.mp4" controls autoplay="true" muted></video-->
</div>
<div class="text-white text-center" style="margin:5px 0px 0px 0px; font-size:1.5em"> 
  <span class="sb-font" style="font-size:1.3em;color:#FF9139;">+</span>inviti 
  <span class="sb-font" style="font-size:1.3em;color:#FF9139;">+</span>risparmi
  <span class="sb-font" style="font-size:1.3em;color:#FF9139;">+</span>bevi!
</div>
<div ><img class="mx-auto d-block" src="img/logoBirraViana.png" style="height:100%;width:100%;margin:10px 0px 40px 0px"></div>


{% endblock %}