{% extends "layouts/main.njk" %} 
{% block body %}

<!--hr style="border-top: 1px solid #5375BD; margin-top: 50px;"-->
<div class="embed-responsive embed-responsive-16by9" style="margin:20px 0px 0px 0px">
  <video class="embed-responsive-item" src="video/BiarraViannaColor_Final_Logo_ligth_24.mp4" controls autoplay="true" muted></video>
</div>

<div ><img class="mx-auto d-block" src="img/logoBirraViana.png" style="height:100%;width:100%;margin:20px 0px 40px 0px"></div>

<!--hr style="border-top: 1px solid #e99f17; margin-bottom: 50px;"-->

<!--div>
  <video width="250" controls autoplay>
    <source src="video/BiarraViannaColor_Final_Logo.mp4" type="video/mp4">
  </video>
</div-->



{% endblock %}