<ol>
  <li> L'invito è esclusivo e ti permette di accedere a Sharingbeer per acquitare birre artigianali</li>
  <li> L' accettazione dell'invito NON ha vincoli ne obblighi di acquisto</li>
  <li> La persona che ti ha invitato ti offre una bottiglia di birra da 0,5 litri su un'acquisto di un packaging da 4 bottigle</li>
  <li> La birra ti verrà consegnata direttamente a casa tua</li>
  <li> Ad ogni tuo acquisto ricevi punti che ti serviranno ad inivitare i tuoi amici</li>
  <li> Ad ogni acquisto di un amico da te invitato ricevi sconti fino al 50%</li>
</ol>
