INFORMATIVA AI SENSI DELL’ART. 13 DEL REGOLAMENTO UE N. 679/2016 (relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali, nonché alla libera circolazione di tali dati)

Gent.le Cliente/Fornitore/Visitatore,

la società Selezione Baladin S.r.l., con sede operativa in Località Valle, 25 – 12060 Piozzo (CN) Italia, P.IVA 02947730046 in qualità di Titolare del trattamento, ai sensi dell’art. 13 del Regolamento UE n. 679/2016 desidera informarLa che i suoi dati saranno trattati secondo i principi stabiliti dal GDPR (Regolamento generale sulla protezione dei dati UE 679/2016), ovvero nel rispetto del principio di liceità, correttezza, trasparenza, limitazione delle finalità e della conservazione, minimizzazione dei dati, esattezza, integrità e riservatezza.

