{% extends "layouts/main.njk" %}
{% block body %}
  <style type="text/css">
    div{
      color: white;
      font-weight: normal;
    }
    th {
      color: white;
      font-size:0.8em;
    }
    td {
      color: white;
      font-size:0.8em;
      font-weight: lighter;
    }
    p {
      margin: 10px;
      font-weight: lighter;
      color: white;
      font-size:0.9em;
    }
    li{
      font-weight: lighter;
      color: white;
      font-size:0.9em;
      margin: 5px;
    }
    h4{
      margin: 5px;
      color: white;
      font-weight: normal;
    }
    h5{
      margin: 7px;
      color: white;
      font-weight: normal;
    }

    }
  </style>

  <h5>COOKIE POLICY</h5>
  <script id="CookieDeclaration" src="https://consent.cookiebot.com/7632fcc1-4707-48cb-85f9-ab4b85172a15/cd.js" type="text/javascript" async></script>

  {% endblock %}
