{% extends "layouts/main.njk" %}
{% block body %}
<div class="card" style="background-color:#2A0009;border-color:#903246;margin: 20px 0px 20px 0px;">
    <div class="card-body">
	    <div class="flex-row">
        	<div class="align-self-center">
		    	<p class="text-white font-weight-light text-center">
					{{messaggio}}
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
