{% extends "layouts/main.njk" %}
{% block body %}

      <h3 class="text-white text-center bg-dark">Area Clienti</h3>
      <hr style="border-top: 1px solid #5375BD;">

      <form role="form" action="/login" method="post">
        <div class="form-group">
          <!-- <label  for="inputUsernameEmail" class="text-white col-form-label-lg">Utente</label> -->
          <div class="input-error" id="wrongMail"></div>
          <input type="text" class="form-control" id="inputUsernameEmail" name="email" value="{{ user }}" placeholder="Indirizzo email" autofocus required >
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
          <span class="password-toggle-icon"><i align="top" class="bi bi-eye" id="togglePassword"></i></span>
        </div>

        <div>
          <a class="text-right nav-link" href="/forgot">Password dimenticata?</a>
        </div>
        <div style="margin-bottom: 40px;">
          <button type="submit" class="btn btn-my btn-lg btn-block" id="mybutton" onclick="return fieldLoginControl()">
            Accedi
          </button>
        </div>
      </form>

      <!--div class="login-or">
        <hr class="hr-or">
        <span class="span-or">or</span>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
        </div>
      </div-->
      <script type="text/javascript">
        const passwordField = document.getElementById("inputPassword");
        const togglePassword = document.querySelector(".password-toggle-icon i");

        togglePassword.addEventListener("click", function () {
          if (passwordField.type === "password") {
            passwordField.type = "text";
            togglePassword.classList.remove("bi-eye");
            togglePassword.classList.add("bi-eye-slash");
          } else {
            passwordField.type = "password";
            togglePassword.classList.remove("bi-eye-slash");
            togglePassword.classList.add("bi-eye");
          }
        });
      </script>

{% endblock %}
