{% extends "layouts/main.njk" %}
{% block body %}

<h3 class="text-white text-center bg-dark"> Ordine</h3>

<!--p class="text-white font-weight-light text-center" style="font-size:1.1em"> {{orderId}} </p-->
{% if status == 'OK' %}
<div class="card" style="background-color:#2A0009;border-color:#903246;margin: 30px 0px 10px 0px;">
  <div class="card-body">
    <div class="flex-row">
      <div class="align-self-center">
        <p class="text-white font-weight-light text-center" style="font-size:1.1em"> Grazie {{user.local.name.first}}
          per aver acquistato <br><span class="sb-font" style="font-size:1.8em;color:#FF9139;">birra Viana</span></br>
          <span style="font-size:1.1em" id='ic'> ora puoi invitare i tuoi amici
            <a style="font-size:14px; color: #FFF; text-decoration: none;" href="/recomm" >
              <svg style="vertical-align:bottom" xmlns="http://www.w3.org/2000/svg" width="36px" height="36px"
                fill="#ffffff" viewbox="0 0 24 24" id='imin'>
                <path
                  d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V8c0-.55-.45-1-1-1s-1 .45-1 1v2H2c-.55 0-1 .45-1 1s.45 1 1 1h2v2c0 .55.45 1 1 1s1-.45 1-1v-2h2c.55 0 1-.45 1-1s-.45-1-1-1H6zm9 4c-2.67 0-8 1.34-8 4v1c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-1c0-2.66-5.33-4-8-4z" />
                0 1 .5-.5z"/>
              </svg>
            </a>
          </span>
        </p>
        {% if user.orders.deliveryType == 'Consegna' %}
        <p class="text-white font-weight-light text-center" style="font-size:1.1em"> Il tuo ordine è stato completato ed
          il tuo acquisto è in preparazione per la consegna.</p>
        <p class="text-white font-weight-light text-center" style="font-size:1.1em"> Dovresti ricevere il tuo ordine
          entro <br><b>{{deliveryDate}}</b><br><span style="font-size:0.6em">(vedi Condizioni generali di
            vendita)</span> </p>
        {% else %}
        <p class="text-white font-weight-light text-center" style="font-size:1.1em"> Il tuo ordine è stato completato ed
          i prodotti sono da ora disponibili per il ritiro.</p>
        <p class="text-white font-weight-light text-center" style="font-size:1.1em"> Puoi ritirare il tuo acquisto fino
          a <br>
          <span style="font-size:1.2em"><b>{{ritiroDate}}</b></span><br><span style="font-size:0.6em">(vedi Condizioni
            generali di vendita)</span>
        </p>
        {% endif %}
        <p class="text-white font-weight-light text-left"> Ti abbiamo inviato una e-mail di conferma al tuo indirizzo:
          <b>{{user.local.email}}</b> </p>
        <br>
        <p class="text-white font-weight-light text-lect"> Mi raccomando, bevi in modo responsabile :)</p>
      </div>
    </div>
  </div>
</div>
<div>
  <form role="form" action="/shopping?type={{user.orders.deliveryType}}&orderId={{orderId}}" method="GET">
    <div style="margin-bottom: 40px;">
      <button type="button" class="btn btn-my btn-lg btn-block" id="mybutton" onclick="return goToShipping('/shopping?type={{user.orders.deliveryType}}&orderId={{orderId}}')">
        Riepilogo ordini
      </button>
    </div>
    <input type="hidden" name="type" value="{{user.orders.deliveryType}}" />
    <input type="hidden" name="orderId" value="{{orderId}}" />
  </form>
</div>

<script type="text/javascript">
  document.querySelector('#ic').classList.add('invita_div'); // colora a intermittenza
  document.querySelector('#imin').classList.add('pulsa');  //anima l'immagine"
</script>

{% else %}
<div class="card" style="background-color:#2A0009;border-color:#903246;margin: 30px 0px 10px 0px;">
  <div class="card-body">
    <div class="flex-r2w">
      <div class="align-self-center">
        <p class="text-white text-center" style="font-size:1.2em"> Pagamento non effettuato </p>
        <p class="text-white font-weight-light text-left"> Ci spiace ma il tuo ordine di aquisto <b>non</b> è andato a
          buon fine. </p>          
        <p> Dovresti ricevere una email dal sistema di pagamento che ha preso in carico la transazione </p>
        <p class="text-white font-weight-light text-left"> Riprova e se il problema persiste puoi contattarci
          all'indirizzo:</p>
        <div class="text-white text-center"> birrificioviana@gmail.com </div>
      </div>
    </div>
  </div>
</div>
<div>
  <form role="form" action="/cart" method="GET">
    <div style="margin-bottom: 40px;">
      <button type="button" class="btn btn-my btn-lg btn-block" id="mybutton" onclick="return goToCart()">
        Vai al carrello
      </button>
    </div>
  </form>
</div>
{% endif %}

<script type="text/javascript">
  function goToShipping(url) {
    document.getElementById("loading").style.display = 'block';
    window.location.href = (url)
  }  
  
  function goToCart() {
    document.getElementById("loading").style.display = 'block';
    window.location.href = ('/cart')
  }  
</script>

{% endblock %}