<!-- last modify 17-12-2021 -->

{% extends "layouts/main.njk" %}
{% block body %}

      <h3 class="text-white text-center" style="margin:6px 0px 0px 0px;">Profile</h3>
      <hr style="border-top: 1px solid #5375BD;">

              {% if user %}
            <ul class="list-group">
              <li class="list-group-item text-white" style="background-color:#2A0009"> {{user.name.first}} {{user.name.last}} </li>
              <li class="list-group-item text-white" style="background-color:#2A0009"> {{user.email}} </li>
              <li class="list-group-item text-white" style="background-color:#2A0009"> {{user.booze}} booze </li>
          {% endif %}
        
              <li class="list-group-item text-white" style="background-color:#2A0009"> {{numFriends}} friends </li> 
             
              {% for friend in friendsMap %}
                <li class="list-group-item text-white" style="background-color:#2A0009"> {{friend.firstNameFriend}} : {{friend.emailFriend}} </li>
              {% endfor %}
          
          </ul> 
        <br>
  
{% endblock %}
        