{% extends "layouts/main.njk" %}
{% block body %}

    <h3 class="text-white text-center bg-dark">Dati Registrazione</h3>
    <hr style="border-top: 1px solid #5375BD;">
    
    <div id="loading">
      <img  src="img/ajax-loader-1.gif" alt="Loading..." />
    </div>

    <div class="card-body text-white font-weight-light text-justify">
      <span style="font-size:1.1em;">Completa con i tuoi dati personali </span> 
    </div>

    <form role="form" action="/register" method="post" id="addresses">
      <div class="card text-white" style="background-color:#2A0009;border-color:#903246;">  
        <div class="form-group" style="margin: 10px 10px 10px 10px;">          
          <div class="input-error" id="wrongFirstName"></div>
          <input type="text" class="form-control" id="inputFirstName" value="{{firstName}}" name="firstName" placeholder="Nome" >
          <div class="input-error" id="wrongLastName"></div>
          <input type="text" class="form-control" id="inputLastName" value="{{lastName}}" name="lastName" placeholder="Cognome" autofocus required>
        </div>
        
        <div class="form-group" style="margin: 10px 10px 10px 10px;">
          <div class="input-error" id="wrongPhone"></div>
          <div class="input-group mb-2">
            <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">+39</span></div>
            <input type="text" class="form-control" id="inputMobile" value="{{mobile}}" name="mobile" placeholder="Cellulare" required inputmode="numeric">
          </div>
        </div>

        <div class="form-group" style="margin: 10px 10px 10px 10px;">          
          <div class="input-error" id="wrongCity"></div>
          <input type="text" class="form-control" id="inputCity" value="{{city}}"
           name="city" placeholder="Città" required autocomplete="off" oninput="selectCity(this.value)"/>
          <div class="w-100"></div>
          <div id="cities"></div>

          <div class="input-error" id="wrongProvincia"></div>
          <input type="text" class="form-control" id="inputProvincia" value="" name="provincia" placeholder="Provincia" required readonly>
          <div class="w-100"></div>
          <div id="provincia"></div>

          <div class="input-error" id="wrongCap"></div>
          <input type="text" class="form-control" id="inputCap" value="" name="cap" placeholder="Cap" required readonly autocomplete="off" inputmode="numeric">
          <div class="w-100"></div>

          <div class="input-error" id="wrongStreet"></div>
          <div class="text-white font-weight-light text-justify" style="font-size:0.7em;">Inserisci il nome della Via / Piazza anche parziale e selezionare l'indirizzo dalla lista proposta</div>
          <input type="text" class="form-control" id="inputStreet" value="" name="street" placeholder="Via / Piazza" required readonly autocomplete="off" oninput="selectStreet(this.value)">
          <div class="w-100"></div>
          <div id="streets"></div>

          <div class="input-error" id="wrongNumciv"></div>
          <input type="text" class="form-control" id="inputNumciv" value="" name="numberciv" placeholder="Numero" required readonly>        
        </div>
        
        <div class="form-group"style="margin: 10px 10px 10px 10px;">
          <!--label class="form-check-label text-white font-weight-light text-justify" for="checkPrivacyDefault">Consenso Privacy (<span style="font-size:0.7em">per dettagli vedere</span> <a href="#" onclick="return openDocument('infoPrivacy.html')"> Privacy) </a>
          
          <div class="input-error" id="wrongPrivacyDefault"></div>
          <div class="form-check" style="margin-top: 10px;" >
            <input class="form-check-input" type="checkbox" value="" id="checkPrivacyDefault" checked onclick="return false;"/>
            <label class="form-check-label text-white font-weight-light text-justify" for="checkPrivacyDefault">(Obbligatorio)
              <span style="font-size:0.7em">Per adempiere a tutti gli obblighi legali, regolamentari, normativi e commerciali in materia fiscale/tributaria.</span>
            </label>
          </div>
          
          <div class="form-check" style="margin-top: 20px;" >
            <div class="input-error" id="wrongPrivacyNeed"></div>
            <input class="form-check-input" type="checkbox" value="" id="checkPrivacyNeed"/>
            <label class="form-check-label text-white font-weight-light text-justify" for="checkPrivacyNeed">(Necessario) 
              <span style="font-size:0.7em">Per invio di comunicazioni informative relativi a servizi offerti, a seguito dell'acquisto effettuato sul sito web, della richiesta di ritiro della merce o consegna a domicilio, inclusi aggiornamenti su disponibilità di prodotti in riassortimento o nuovi. Utilizzo dei dati per scopi accessori o correlati alle funzionalità principali del sito web, ma sempre all'interno delle sue attività.</span> 
            </label>
          </div>
                    
          <div class="form-check" style="margin: 20px 0px 0px 0px;" >
            <div class="input-error" id="wrongPrivacyOptional"></div>
            <input class="form-check-input" type="checkbox" value="" id="checkPrivacyOptional" name="checkPrivacyOptional" />
            <label class="form-check-label text-white font-weight-light text-justify" for="checkPrivacyOptional">(Facoltativo)
               <span style="font-size:0.7em">Per l’invio di informazioni ed offerte promozionali e commerciali e per attività di profilazione a fini di marketing;</span>
            </label>
          </div>

          <div class="form-check" style="margin: 20px 0px 30px 0px;" >
            <div class="input-error" id="wrongPrivacyCessione"></div>
            <input class="form-check-input" type="checkbox" value="" id="checkPrivacyCessione" name="checkPrivacyCessione" />
            <label class="form-check-label text-white font-weight-light text-justify" for="checkPrivacyCessione">(Facoltativo)
              <span style="font-size:0.7em">Per cessione dei Dati a società e/o soggetti terzi con cui il Titolare collabora o ha stipulato convenzioni </span>
            </label>
          </div-->
        <div>
          <button type="button" class="btn btn-my btn-lg btn-block" id="mybutton" onclick="return controlInputAndValidateAddress()">
            Salva i dati
          </button>
        </div>
        </div>
      </div>
    </form>
    <br>

<script type="text/javascript">

  document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("loading").style.display = 'none';
    });
/*==================================================================*/
/* GESTIONE della CITTA' con query MONGODB                          */
/* Gestione delle VIE con query su OpenStreetMaps (Overpass)        */
/*==================================================================*/

//----------------------CIVICNUMBER e CAP---------------------------
async function controlInputAndValidateAddress() {
  const ret = await fieldsRegisterControl()
  if (ret) {
    
    //console.log('CITTA: ',document.getElementById("inputCity").value);
    //console.log('VIA: ',document.getElementById("inputStreet").value);

    document.getElementById("loading").style.display = 'block';
    document.getElementById("wrongNumciv").innerHTML = ''
    
    let data = {};
    let response;
    data.comune = document.getElementById("inputCity").value;
    data.via = document.getElementById("inputStreet").value;
    data.istat = document.getElementById("hiddenIstat").value;
    data.numero = document.getElementById("inputNumciv").value;
    data.cap = document.getElementById("inputCap").value;
    
    await $.ajax({
      type: 'POST',
      dataType: 'json',
      url: '/overpass/cap',
      data: data,
      success: function(res) {        
        if (res.status != 'ko') {          
          //console.log('CAP: ',res.cap)
          document.getElementById("hiddenCAP").value = res.cap

          document.getElementById("hiddenAddressIsValid").value = res.status
          //console.log('HIDDEN ADDRESS 2: ', document.getElementById("hiddenAddressIsValid").value)

          postData = {
            firstName : document.getElementById("inputFirstName").value,
            lastName  : document.getElementById("inputLastName").value,
            mobile    : document.getElementById("inputMobile").value,
            city      : document.getElementById("inputCity").value,
            provincia : document.getElementById("inputProvincia").value,
            street    : document.getElementById("inputStreet").value,
            numberciv : document.getElementById("inputNumciv").value,
            hiddenCAP : res.cap,
            hiddenAddressIsValid : res.status,
            descValidAddress : res.desStatus,
            lat : res.lat,
            lon : res.lon
            //checkPrivacyOptional : document.getElementById('checkPrivacyOptional').checked,
            //checkPrivacyCessione : document.getElementById('checkPrivacyCessione').checked
          }
          //console.log('PARAM',JSON.stringify(postData,null,2));
          post('/register',postData);

        } else {
          console.error('ERRORE nella ricerca dello indirizzo');
          document.getElementById("hiddenCAP").value ="";
          document.getElementById("hiddenAddressIsValid").value = "errato";
          post('/infomessage',{msg:"Errore nella verifica dell'indirizzo. Riprova a inserirlo prestando attenzione al CAP e al numero civico.", type:"warning", err:data.err});
        }
      },
      error: function (e) {
        //console.log("OVERPASS_CAP", e);
        //document.getElementById("loading").style.display = 'none';
        post('/infomessage',{msg:"Errore nella verifica dell'indirizzo. Riprova a inserirlo prestando attenzione al CAP e al numero civico.", type:"warning", err:data.err});
      }
    });
  }
  
};

//----------------------------TREET---------------------------------
async function setValueStreet(via) {
  if (document.getElementById('myselectstreet') != null) {
    document.getElementById('myselectstreet').remove();
  };
  //console.log('SETVALUESTREET');
  document.getElementById("hiddenStreet").value = 'OK';
  document.getElementById("inputStreet").value = via;
  document.getElementById('inputNumciv').removeAttribute('readonly');
  document.getElementById("inputNumciv").focus();
  document.getElementById("wrongStreet").innerHTML = ""; 
}

//********************************************************************
// DATA LA CITTA E IL CODICE ISTAT RECUPERA LE VIE DA OPENSTREETMAP
//********************************************************************
async function listOfStreets(citta,istat) {
  //console.log('CITTA: ',citta);
  //console.log('ISTAT: ',istat);
  if (document.getElementById('myselectcity') != null) {
    document.getElementById('myselectcity').remove();
  };
  document.getElementById("wrongCity").innerHTML = "";
  document.getElementById("inputCity").value = citta;
  let data = {};
  let response;
  data.city = citta;
  data.istat = istat;
  await $.ajax({
    type: 'POST',
    dataType: 'json',
    url: '/overpass/istat',
    data: data,
    success: function(res) {
      response = res;
      //console.log('STREET: ', JSON.stringify(res,null,2) )
    },
    error: function (e) {
      console.log("ErrorListOfStreets", e.responseText);
      response = e;
    }
  });
  return response;
};

//-------------------- MAIN STREET ------------------
async function selectStreet(v) {
  document.getElementById("wrongStreet").innerHTML = "";
  document.getElementById("wrongNumciv").innerHTML = ''
  let vl = v.toLowerCase();
  if (vl.length > 3) {
    let data = {};
    data.street = vl;
    await $.ajax({
      type: 'POST',
      dataType: 'json',
      url: '/streets',
      data: data,
      success: function(res) {
        
        if (typeof res !== undefined && res.length > 0 &&  document.getElementById("inputStreet").value.length > 1) {
          /* Creo la lista <ul> <il> con elenco delle città in modo dinamico */
          document.getElementById("inputNumciv").setAttribute('readonly', true);
          document.getElementById('inputNumciv').value = null;
          var select = document.createElement('ul');
          var size = res.length;
          var via = document.getElementById("inputStreet").value.toLowerCase();
          var street = res[0].toLowerCase();



          //console.log('via=',via);
          //console.log('street=', street);
          //console.log('size=',size);

          //------------------------------------------------------------------------------
          if (size == 1 && via == street) {
            document.getElementById("inputStreet").value = res[0];
            document.getElementById("hiddenStreet").value = 'OK';
            
            if (document.getElementById('myselectstreet') != null) {
              document.getElementById('myselectstreet').remove();
            }
            setValueStreet(res[0]);
            //return;
          } else {
            document.getElementById("hiddenStreet").value = 'KO';
            select.setAttribute('id','myselectstreet');
            select.setAttribute('class','form-control');
            select.setAttribute('style','list-style-type: none;');

            for (var i = 0; i <res.length; i += 1) {
                let option = document.createElement('li');
                a = document.createElement('a');
                a.textContent = res[i];
                a.setAttribute('href',"javascript:void(0)");
                a.setAttribute('onclick','setValueStreet("'+res[i]+'")');
                option.appendChild(a);
                select.appendChild(option);
            };
            $("#streets").html(select);
          }

        } else {
          //console.log ("FINE SELECTSTREET")
          document.getElementById("inputNumciv").setAttribute('readonly', true);
          document.getElementById('inputNumciv').value = null;
          document.getElementById("hiddenStreet").value = 'KO';
          if (document.getElementById('myselectstreet') != null) {
            document.getElementById('myselectstreet').remove();
          }
        }
      },

      error: function (e) {
        console.log("Error", e);
      }
    });
  } else {
    if (document.getElementById('myselectstreet') != null) {
      document.getElementById('myselectstreet').remove();
    }
  }

};

//*******************************************************
// DATA LA CITTA' SELEZIONA LE VIE
//*******************************************************
async function setValueCity(comune, provincia, istat) {
  document.getElementById("inputCity").setAttribute('readonly', true);
  document.getElementById("inputNumciv").setAttribute('readonly', true);
  if (document.getElementById('myselectcity') != null) {
    document.getElementById('myselectcity').remove();
  };
  //console.log('SETVALUE_CITY');
  document.getElementById("hiddenStreet").value = 'OK';
  document.getElementById("hiddenIstat").value = istat;
  document.getElementById("inputCity").value = comune;
  document.getElementById("inputProvincia").value = provincia;
  document.getElementById("wrongProvincia").innerHTML = "";
  document.getElementById("wrongStreet").innerHTML = "";
  document.getElementById("wrongNumciv").innerHTML = "";

  document.getElementById("loading").style.display = 'block';

  try {
    //*******************************************************
    var res = await listOfStreets(comune,istat);
    //*******************************************************
  } catch (e) {
    document.getElementById('inputNumciv').removeAttribute('readonly');
  }
  //console.log('RES: ',res);
  document.getElementById("loading").style.display = 'none';
  //document.getElementById("inputStreet").focus();
  document.getElementById("inputCap").focus();
  document.getElementById('inputCap').removeAttribute('readonly');
  document.getElementById('inputStreet').removeAttribute('readonly');
  document.getElementById('inputCity').removeAttribute('readonly');
};

//----------------------------CITY-------------------------------------
async function listOfCities(v) {
  let vl = v.toLowerCase();
  var data = {};
  data.city = vl;
  await $.ajax({
    type: 'POST',
    dataType: 'json',
    url: '/cities',
    data: data,
    success: function(res) {
      //console.log('CITY: ', JSON.stringify(res) )
      response = res;
    },
    error: function (e) {
      console.log("ErrorListOfCities", JSON.stringify(e));
      response = e;
    }
  });
  return response;
};
//*******************************************************
// GESTIONE FORM DI INSERIMENTO E RICERCA DELLA CITTA'
//*******************************************************
async function selectCity(v) {  
  document.getElementById('inputProvincia').value = null;
  document.getElementById('inputCap').setAttribute('readonly', true);
  document.getElementById('inputCap').value = null;
  document.getElementById('inputStreet').setAttribute('readonly', true);
  document.getElementById('inputStreet').value = null;
  document.getElementById("inputNumciv").setAttribute('readonly', true);
  document.getElementById('inputNumciv').value = null;
  document.getElementById("wrongCity").innerHTML = "";
  
  if (v.length > 2 || v =='lu' || v =='ne' || v =='re' || v =='ro') {
    //*******************************************************
    // RICERCA LE CITTA' A PARTIRE DALLA STRINGA INSERITA
    //*******************************************************
    try {
      var res = await listOfCities(v);
      document.getElementById("wrongProvincia").innerHTML = "";
      document.getElementById("wrongStreet").innerHTML = "";
      document.getElementById("wrongNumciv").innerHTML = "";

      //passo nella pagina l'informazione che la ricerca della città ha funzionato
      if (document.getElementsByName("hiddenListOfCities").length == 0 ) {
        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("id","hiddenListOfCities");
        input.setAttribute("name", "hiddenListOfCities");
        input.setAttribute("value", "OK");
        //console.log('INPUT: ',input);
        //append to form element that you want .
        document.getElementById("addresses").appendChild(input);
      }
     // }
    } catch (e) {
      document.getElementById("inputProvincia").removeAttribute('readonly');
      document.getElementById("inputCap").removeAttribute('readonly');
      document.getElementById("inputStreet").removeAttribute('readonly');
      document.getElementById("inputNumciv").removeAttribute('readonly');

      document.getElementById("wrongProvincia").innerHTML = "";
      document.getElementById("wrongStreet").innerHTML = "";
      document.getElementById("wrongNumciv").innerHTML = "";

      if (document.getElementsByName("hiddenListOfCities").length == 0 ) {
        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("id","hiddenListOfCities");
        input.setAttribute("name", "hiddenListOfCities");
        input.setAttribute("value", "KO");
        //console.log('INPUT: ',input);
        //append to form element that you want .
        document.getElementById("addresses").appendChild(input);
      }
      return;
    }
     
    //*******************************************************
    if (typeof res !== undefined && res.length > 0 && document.getElementById("inputCity").value.length > 1) {
      /* Creo la lista <ul> <il> con elenco delle città in modo dinamico */
      let select = document.createElement('ul');
      let citta = document.getElementById("inputCity").value.toLowerCase();
      let city = res[0].Comune.toLowerCase()

      if (res.length == 1 && citta == city) {
        //document.getElementById("hiddenCity").value = 'OK';
        document.getElementById("inputCity").value = res[0].Comune;
        document.getElementById("inputProvincia").value = res[0].Provincia;
        if (document.getElementById('myselectcity') != null) {
          document.getElementById('myselectcity').remove();
        };

        //*********************************************************
        setValueCity(res[0].Comune, res[0].Provincia, res[0].Istat);
        //*********************************************************
      } else {
        //document.getElementById("hiddenCity").value = 'OK';
        select.setAttribute('id','myselectcity');
        select.setAttribute('class','form-control');
        select.setAttribute('style','list-style-type: none;');

        for (var i = 0; i <res.length; i += 1) {
          let option = document.createElement('li');
          a = document.createElement('a');
          a.textContent = res[i].Comune;
          a.setAttribute('href',"javascript:void(0)");
          //*******************************************************
          a.setAttribute('onclick','setValueCity("'+res[i].Comune +'","'+res[i].Provincia+'","'+res[i].Istat+'")');
          //*******************************************************
          option.appendChild(a);
          select.appendChild(option);
        };
        if (document.getElementById('myselectstreet') !=null) {
          document.getElementById('myselectstreet').remove();
        }
        $("#cities").html(select);
      }

    } else {
      if (document.getElementById('myselectcity') != null) {
        document.getElementById('myselectcity').remove();
      }
      if (document.getElementById('myselectstreet') !=null) {
        document.getElementById('myselectstreet').remove();
      }      
    }
  } else {
    if (document.getElementById('myselectcity') != null) {
      document.getElementById("myselectcity").remove();
    };    
    if (document.getElementById('myselectstreet') !=null) {
      document.getElementById('myselectstreet').remove();
    };
  }
};

var inputCN = document.createElement("input");
      inputCN.setAttribute("type", "hidden");
      inputCN.setAttribute("id","hiddenAddressIsValid");
      inputCN.setAttribute("name", "hiddenAddressIsValid");
      inputCN.setAttribute("value", "false");
      document.getElementById("addresses").appendChild(inputCN);

  var inputCAP = document.createElement("input");
      inputCAP.setAttribute("type", "hidden");
      inputCAP.setAttribute("id","hiddenCAP");
      inputCAP.setAttribute("name", "hiddenCAP");
      inputCAP.setAttribute("value", "");
      document.getElementById("addresses").appendChild(inputCAP);

  var inputStreet = document.createElement("input");
      inputStreet.setAttribute("type", "hidden");
      inputStreet.setAttribute("id","hiddenStreet");
      inputStreet.setAttribute("name", "hiddenStreet");
      inputStreet.setAttribute("value", "KO");
      document.getElementById("addresses").appendChild(inputStreet);

  var inputIstat = document.createElement("input");
      inputIstat.setAttribute("type", "hidden");
      inputIstat.setAttribute("id","hiddenIstat");
      inputIstat.setAttribute("name", "hiddenIstat");
      inputIstat.setAttribute("value", "");
      document.getElementById("addresses").appendChild(inputIstat);

/**
  * sends a request to the specified url from a form. this will change the window location.
  * @param {string} path the path to send the post request to
  * @param {object} params the parameters to add to the url
  * @param {string} [method=post] the method to use on the form
  */
  function post(path, params, method='post') {

    // The rest of this code assumes you are not using a library.
    // It can be made less verbose if you use one.
    const form = document.createElement('form');
    form.method = method;
    form.action = path;

    for (const key in params) {
      if (params.hasOwnProperty(key)) {
        const hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = key;
        hiddenField.value = params[key];
        form.appendChild(hiddenField);
      }
    }
    document.body.appendChild(form);
    form.submit();
  }

</script>

{% endblock %}
