{% extends "layouts/main.njk" %}
{% block body %}

      <h3 class="text-white text-center bg-dark">Completa con i tuoi dati</h3>
      <hr style="border-top: 1px solid #5375BD;">

      {% if message %}
        {% for message in message %}
          <div class="alert alert-{{type}}">{{message}}</div>
        {% endfor %}
      {% endif %}
      
      <div id="loading">
        <img  src="img/ajax-loader-1.gif" alt="Loading..." />
      </div>

      <form role="form" action="/register" method="post" id="registration">
        <div class="form-group">
          <label for="inputUsernameEmail" class="text-white col-form-label-lg">Nome e Cognome</label>
          <input type="text" class="form-control" id="inputFirsName" value="{{firstName}}"
           name="firstName" placeholder="Nome" readonly>
        </div>
        <div class="form-group">
          <div class="input-error" id="wrongLastName"></div>
          <input type="text" class="form-control" id="inputLastName" value="{{lastName}}"
           name="lastName" placeholder="Cognome" autofocus required>
        </div>
        <div class="form-group">
          <div ><label for="inputMobile" class="text-white col-form-label-lg">Cellulare</label></div>
          <div class="input-error" id="wrongPhone"></div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">+39</span>
            </div>
            <input type="text" class="form-control" id="inputMobile" value="{{mobile}}"
             name="mobile" placeholder="" required>
          </div>
        </div>
        <div class="form-group">
          <div ><label for="inputCity" class="text-white col-form-label-lg">Città</label></div>
          <div class="input-error" id="wrongCity"></div>
          <input type="text" class="form-control" id="inputCity" value="{{city}}"
           name="city" placeholder="" required autocomplete="off" oninput="selectCity(this.value)"/>
          <div class="w-100"></div>
          <div id="cities"></div>
        </div>
       
        <div class="form-group">
        <div><label for="inputProvincia" class="text-white col-form-label-lg">Provincia</label></div>
        <div class="input-error" id="wrongProvincia"></div>
        <input type="text" class="form-control" id="inputProvincia" value="" name="Provincia" required readonly>
        <div class="w-100"></div>
        <div id="provincia"></div>
      </div>
      <div class="form-group">
        <div ><label for="inputStreet" class="text-white col-form-label-lg">Indirizzo</label></div>
        <div class="input-error" id="wrongStreet"></div>
        <input type="text" class="form-control" id="inputStreet" value="" name="street" required readonly autocomplete="off"
        oninput="selectStreet(this.value)">
        <div class="w-100"></div>
        <div id="streets"></div>
      </div>
      <div class="form-group">
        <div ><label for="inputNumciv" class="text-white col-form-label-lg">Numero Civico</label></div>
        <div class="input-error" id="wrongNumciv"></div>
        <input type="text" class="form-control" id="inputNumciv" value="" name="number" required readonly>
      </div>
        <br>
        <div>
          <button type="submit" class="btn btn-my btn-lg btn-block" id="mybutton" onclick="return fieldsRegisterControl()">
            Save
          </button>
        </div>
      </form>
      <br>


<script type="text/javascript">

  document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("loading").style.display = 'none';
    });
/*==================================================================*/
/* GESTIONE della CITTA' con query MONGODB                          */
/* Gestione delle VIE con query su OpenStreetMaps                   */
/*==================================================================*/

//----------------------------TREET---------------------------------
function setValueStreet(via) {
  if (document.getElementById('myselectstreet') != null) {
    document.getElementById('myselectstreet').remove();
  };
  console.log('SETVALUESTREET');
  document.getElementById("inputStreet").value = via;
  document.getElementById('inputNumciv').removeAttribute('readonly');
  document.getElementById("inputNumciv").focus();
}
//********************************************************************
// DATA LA CITTA E IL CODICE ISTAT RECUPERA LE VIE DA OPENSTREETMAP
//********************************************************************
async function listOfStreets(citta,istat) {
  console.log('CITTA: ',citta);
  console.log('ISTAT: ',istat);
  if (document.getElementById('myselectcity') != null) {
    document.getElementById('myselectcity').remove();
  };
  document.getElementById("wrongCity").innerHTML = "";
  document.getElementById("inputCity").value = citta;
  let data = {};
  let response;
  data.city = citta;
  data.istat = istat;
  await $.ajax({
    type: 'POST',
    dataType: 'json',
    url: '/overpass/'+istat,
    data: data,
    success: function(res) {
      response = res;
    },
    error: function (e) {
      console.log("ErrorListOfStreets", e.responseText);
      response = e;
    }
  });
  return response;
};

function selectStreet (v) {
  let vl = v.toLowerCase();
  if (vl.length > 3) {
    let data = {};
    data.street = vl;
    $.ajax({
      type: 'POST',
      dataType: 'json',
      url: '/streets',
      data: data,
      success: function(res) {
        
        if (typeof res !== 'undefined' && res.length > 0 &&  document.getElementById("inputStreet").value.length > 1) {
          /* Creo la lista <ul> <il> con elenco delle città in modo dinamico */
          document.getElementById("inputNumciv").setAttribute('readonly', true);
          document.getElementById('inputNumciv').value = null;
          let select = document.createElement('ul');
          let size = res.length;
          let via = document.getElementById("inputStreet").value.toLowerCase();
          let street = res[0].toLowerCase();

          console.log('via=',via);
          console.log('street=', street);
          console.log('size=',size);

          //------------------------------------------------------------------------------
          if (size == 1 && via == street) {
            document.getElementById("inputStreet").value = res[0];
            if (document.getElementById('myselectstreet') != null) {
              document.getElementById('myselectstreet').remove();
            }
            setValueStreet(res[0]);
            return;
          }
          //------------------------------------------------------------------------------

          select.setAttribute('id','myselectstreet');
          select.setAttribute('class','form-control');
          select.setAttribute('style','list-style-type: none;');

          for (var i = 0; i <res.length; i += 1) {
              let option = document.createElement('li');
              a = document.createElement('a');
              a.textContent = res[i];
              a.setAttribute('href',"javascript:void(0)");
              a.setAttribute('onclick','setValueStreet("'+res[i]+'")');
              option.appendChild(a);
              select.appendChild(option);
          };
          $("#streets").html(select);

        } else {
          if (document.getElementById('myselectstreet') != null) {
            document.getElementById('myselectstreet').remove();
          }
        }
      },

      error: function (e) {
        console.log("Error", e);
      }
    });
  } else {
    if (document.getElementById('myselectstreet') != null) {
      document.getElementById('myselectstreet').remove();
    }
  }

};

//----------------------------CITY-------------------------------------

//*******************************************************
// DATA LA CITTA' SELEZIONA LE VIE
//*******************************************************
async function setValueCity(comune, provincia, istat) {
  document.getElementById("inputCity").setAttribute('readonly', true);
  document.getElementById("inputNumciv").setAttribute('readonly', true);
  if (document.getElementById('myselectcity') != null) {
    document.getElementById('myselectcity').remove();
  };
  document.getElementById("inputCity").value = comune;
  document.getElementById("inputProvincia").value = provincia;
  document.getElementById("wrongProvincia").innerHTML = "";
  document.getElementById("wrongStreet").innerHTML = "";
  document.getElementById("wrongNumciv").innerHTML = "";

  document.getElementById("loading").style.display = 'block';

  try {
    //*******************************************************
    let res = await listOfStreets(comune,istat);
    //*******************************************************
  } catch (e) {
    document.getElementById('inputNumciv').removeAttribute('readonly');
  }
  console.log('RES: ',res);
  document.getElementById("loading").style.display = 'none';
  document.getElementById("inputStreet").focus();
  document.getElementById('inputStreet').removeAttribute('readonly');
  document.getElementById('inputCity').removeAttribute('readonly');
};

async function listOfCities(v) {
  let vl = v.toLowerCase();
  var data = {};
  data.city = vl;
  await $.ajax({
    type: 'POST',
    dataType: 'json',
    url: '/cities',
    data: data,
    success: function(res) {
      response = res;
    },
    error: function (e) {
      console.log("ErrorListOfCities", e);
      response = e;
    }
  });
  return response;
};
//*******************************************************
// GESTIONE FORM DI INSERIMENTO E RICERCA DELLA CITTA'
//*******************************************************
async function selectCity(v) {  
  document.getElementById('inputProvincia').value = null;
  document.getElementById('inputStreet').setAttribute('readonly', true);
  document.getElementById('inputStreet').value = null;
  document.getElementById("inputNumciv").setAttribute('readonly', true);
  document.getElementById('inputNumciv').value = null;
  
  if (v.length > 2 || v =='lu' || v =='ne' || v =='re' || v =='ro') {
    //*******************************************************
    // RICERCA LE CITTA' A PARTIRE DALLA STRINGA INSERITA
    //*******************************************************
    try {
      res = await listOfCities(v);  
      document.getElementById("wrongProvincia").innerHTML = "";
      document.getElementById("wrongStreet").innerHTML = "";
      document.getElementById("wrongNumciv").innerHTML = "";

      //passo nella pagina l'informazione che la ricerca della città ha funzionato
      if (document.getElementsByName("hiddenListOfCities").length == 0 ) {
        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("id","hiddenListOfCities");
        input.setAttribute("name", "hiddenListOfCities");
        input.setAttribute("value", "OK");
        console.log('INPUT: ',input);
        //append to form element that you want .
        document.getElementById("registration").appendChild(input);
      }
    } catch (e){
      document.getElementById("inputProvincia").removeAttribute('readonly');
      document.getElementById("inputStreet").removeAttribute('readonly');
      document.getElementById("inputNumciv").removeAttribute('readonly');

      document.getElementById("wrongProvincia").innerHTML = "";
      document.getElementById("wrongStreet").innerHTML = "";
      document.getElementById("wrongNumciv").innerHTML = "";

      if (document.getElementsByName("hiddenListOfCities").length == 0 ) {
        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("id","hiddenListOfCities");
        input.setAttribute("name", "hiddenListOfCities");
        input.setAttribute("value", "KO");
        console.log('INPUT: ',input);
        //append to form element that you want .
        document.getElementById("registration").appendChild(input);
      }
      return;
    }
     
    //*******************************************************
    if (typeof res !== 'undefined' && res.length > 0 && document.getElementById("inputCity").value.length > 1) {
      /* Creo la lista <ul> <il> con elenco delle città in modo dinamico */
      let select = document.createElement('ul');
      let citta = document.getElementById("inputCity").value.toLowerCase();
      let city = res[0].Comune.toLowerCase()

      if (res.length == 1 && citta == city) {
        document.getElementById("inputCity").value = res[0].Comune;
        document.getElementById("inputProvincia").value = res[0].Provincia;
        if (document.getElementById('myselectcity') != null) {
          document.getElementById('myselectcity').remove();
        };
        //*********************************************************
        setValueCity(res[0].Comune, res[0].Provincia, res[0].Istat);
        //*********************************************************
      } else {
        select.setAttribute('id','myselectcity');
        select.setAttribute('class','form-control');
        select.setAttribute('style','list-style-type: none;');

        for (var i = 0; i <res.length; i += 1) {
          let option = document.createElement('li');
          a = document.createElement('a');
          a.textContent = res[i].Comune;
          a.setAttribute('href',"javascript:void(0)");
          //*******************************************************
          a.setAttribute('onclick',"setValueCity('"+res[i].Comune +"','"+res[i].Provincia+"','"+res[i].Istat+"')");
          //*******************************************************
          option.appendChild(a);
          select.appendChild(option);
        };
        if (document.getElementById('myselectstreet') !=null) {
          document.getElementById('myselectstreet').remove();
        }
        $("#cities").html(select);
      }

    } else {
      if (document.getElementById('myselectcity') != null) {
        document.getElementById('myselectcity').remove();
      }
      if (document.getElementById('myselectstreet') !=null) {
        document.getElementById('myselectstreet').remove();
      }      
    }
  } else {
    if (document.getElementById('myselectcity') != null) {
      document.getElementById("myselectcity").remove();
    };    
    if (document.getElementById('myselectstreet') !=null) {
      document.getElementById('myselectstreet').remove();
    };
  }
};
</script>

{% endblock %}
