{% extends "layouts/main.njk" %}
{% block body %}

      <h3 class="text-white text-center" style="margin:6px 0px 0px 0px;">Reset Password</h3>
      <hr style="border-top: 1px solid #5375BD;">

      {% if message %}
        {% for message in message %}
          <div class="alert alert-danger">{{message}}</div>
        {% endfor %}
      {% endif %}

      <form role="form" action="/reset" method="post">
        <fieldset>
          <input type="hidden" name="token" value="{{token}}">
          <div class="form-group">
            <label for="inputPassword" class="text-white col-form-label-lg">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" autofocus  required>
          </div>

          <div class="form-group">
            <label for="inputPassword" class="text-white col-form-label-lg">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirm" required>
          </div>
          <div style="margin-bottom: 40px;">
            <button type="submit" class="btn btn-my btn-lg btn-block" id="mybutton">
              <h4>Update Password</h4>
            </button>
          </div>
        </fieldset>
      </form>
    
  
{% endblock %}
