{% extends "layouts/main.njk" %}
{% block body %}
	
  <h3 class="text-white text-center bg-dark"> Un nuovo amico </h3>
  <hr style="border-top: 1px solid #5375BD;">

  <div class="card" style="background-color:#2A0009;border-color:#903246;margin: 30px 0px 10px 0px;">
    <div class="card-body">
	<h5 class="card-title" style="color:#FFBB35">Importante</h5>
      <div class="flex-row">
        <div class="align-self-center">
          <p class="text-white font-weight-light text-justify">
            Abbiamo inviato al tuo indirizzo email il messaggio con il link e il codice che il tuo 
            amico {{firstName}} deve usare per accedere in SharinBeer. <br><br>
		    Se l'invito lo hai già condiviso ti ricordiamo che ad ogni suo acquisto ricevi punti 
		    Pinta pr ottenere sconti fino al 50% sui tuoi acquisti. <br><br>
		    Tienili sotto controllo!
          </p>
        </div>
      </div>
    </div>
  </div>
  {% if flag %}
        
   <form role="form" action="/recomm" method="GET">
	   <div style="margin-bottom: 40px;">
		   <button type="submit" class="btn btn-my btn-lg btn-block" id="mybutton">
			   Invita un'altro amico'
           </button>
      </div>
   </form>
        
  {% endif %}
    
      
{% endblock %}


