{% extends "layouts/main.njk" %}
{% block body %}

<h3 class="text-white text-center bg-dark">Ordini</h3>
<hr style="border-top: 1px solid #5375BD;">


<!-- Nav tabs -->

<nav class="nav nav-pills nav-justified">
  <a class="nav-item nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="font-size:0.9em;"><b>in consegna</b></a>
  <a class="nav-item nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="font-size:0.9em;"><b>da ritirare</b></a>
  <a class="nav-item nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false" style="font-size:0.9em;"><b>consegnati o ritirati</b></a>
</nav>

<!-- Tab panes -->
<div class="tab-content">
  
  <div class="tab-pane active text-white " id="home" role="tabpanel" aria-labelledby="home-tab" style="margin: 20px 0px 0px 0px;">
    {% for purchase in ordiniInConsegna %}
    <div class="card" style="background-color:#2A0009;border-color:#903246;margin: 0px 0px 20px 0px;">
      <div class="flex-row" style="margin: 10px 0px 0px 0px;">
        <div class="text-white font-weight-light text-center">
          ORDINE <br> <span style="font-size:0.9em;">{{purchase.orders._id}}</span>
        </div>
        <div class="text-white font-weight-light text-center">
           del <span style="font-size:0.9em;"> {{purchase.orders.dateInsert}} </span>            
        </div>
      </div>
      
      <div class="text-white font-weight-light text-center" style="margin: 5px 5px 10px 5px;">
        <div><span style="font-size:0.9em">Consegna entro </span> {{purchase.orders.deliveryDate}}</div>     
      </div>

      {% for prod in purchase.orders.items %}
      <table style="margin: 0px 5px 10px 5px;">
        <tr>
          <td width="16%" rowspan="3" style="padding: 5px;"> 
            <div>
              <img src="{{prod.linkImage}}" width="100%" height="100%"> 
            </div>
          </td>
          <td class="text-white font-weight-light">
            Tipo: {{prod.name}}
          </td>
        </tr>
        <tr>
          <td class="text-white font-weight-light">N° di BeerBox: {{prod.qty}}</td>
        </tr>
        <tr>
          <td class="text-white font-weight-light">Prezzo per BeerBox: €{{prod.price}}</td>
        </tr>      
      </table>      
      {% endfor %}
      <div class="text-center" style="margin: 0px 5px 5px 5px;">
        <span style="font-size:1.0em;font-weight: bold;">Totale</span> 
        <span class="text-white font-weight-light" style="font-size:0.6em;">(con sconti e trasporto)</span> 
        <span style="font-size:1.1em;font-weight: bold;">€{{purchase.orders.totalPriceTotal}}</span>
      </div>
      <div class="text-center" style="margin: 5px 5px 10px 5px;">
        <div style="font-size:1.1em;font-weight: bold;">Indirizzo di consegna <br></div>
        <div class="text-white font-weight-light" style="font-size:0.9em;">
          {{purchase.orders.address.name.first}} {{purchase.orders.address.name.last}} <br> 
          {{purchase.orders.address.address}} {{purchase.orders.address.houseNumber}} <br> 
          {{purchase.orders.address.postcode}} - {{purchase.orders.address.city}} ({{purchase.orders.address.province}})
        </div>
      </div>      
    </div>
    {% endfor %}
  </div>

  <div class="tab-pane text-white " id="profile" role="tabpanel" aria-labelledby="profile-tab" style="margin: 20px 0px 0px 0px;">
    {% for purchase in ordiniInRitiro %}
    <div class="card" style="background-color:#2A0009;border-color:#903246;margin: 0px 0px 20px 0px;">
      <div class="flex-row" style="margin: 10px 0px 10px 0px;">
        <div class="text-white font-weight-light text-center">
          ORDINE <br> <span style="font-size:0.9em;">{{purchase.orders._id}}</span>
        </div>
        <div class="text-white font-weight-light text-center">
           del <span style="font-size:0.9em;"> {{purchase.orders.dateInsert}} </span>            
        </div>
      </div>

      {% for prod in purchase.orders.items %}
      <table style="margin: 0px 5px 10px 5px;">
        <tr>
          <td width="16%" rowspan="3" style="padding: 5px;"> 
            <div>
              <img src="{{prod.linkImage}}" width="100%" height="100%"> 
            </div>
          </td>
          <td class="text-white font-weight-light">
            Tipo: {{prod.name}}
          </td>
        </tr>
        <tr>
          <td class="text-white font-weight-light">N° di BeerBox: {{prod.qty}}</td>
        </tr>
        <tr>
          <td class="text-white font-weight-light">Prezzo per BeerBox: €{{prod.price}}</td>
        </tr>   
      </table>           
      {% endfor %}
      <div class="text-center" style="margin: 5px 5px 5px 5px;">
        <span style="font-size:1.0em;font-weight: bold;">Totale</span> 
        <span class="text-white font-weight-light" style="font-size:0.6em;">(con sconti e trasporto)</span> 
        <span style="font-size:1.1em;font-weight: bold;">€{{purchase.orders.totalPriceTotal}}</span>
      </div>
      <div class="text-center" style="margin: 5px 5px 10px 5px;">
        <div style="font-size:1.1em;font-weight: bold;"> Indirizzo di ritiro <br></div>
        <div class="text-white font-weight-light" style="font-size:1em;"> 
          {{addressRitiro.name.first}} {{addressRitiro.name.last}} <br> 
          {{addressRitiro.address}} {{addressRitiro.houseNumber}} <br> 
          {{addressRitiro.postcode}} - {{addressRitiro.city}} ({{addressRitiro.province}})
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="tab-pane text-white " id="messages" role="tabpanel" aria-labelledby="messages-tab" style="margin: 20px 0px 0px 0px;">
    {% for purchase in ordiniConsegnati %}
    <div class="card" style="background-color:#2A0009;border-color:#903246;margin: 0px 0px 20px 0px;">
      <div class="flex-row" style="margin: 10px 0px 10px 0px;">
        <div class="text-white font-weight-light text-center">
          ORDINE <br> <span style="font-size:0.9em;">{{purchase.orders._id}}</span>
        </div>
        <div class="text-white font-weight-light text-center">
           del <span style="font-size:0.9em;"> {{purchase.orders.dateInsert}} </span>            
        </div>
      
        {% for prod in purchase.orders.items %}
        <table style="margin: 0px 5px 15px 5px;">
          <tr>
            <td width="16%" rowspan="3" style="padding: 5px;">
              <div>
                <img src="{{prod.linkImage}}" width="100%" height="100%"> 
              </div>
            </td>
            <td class="text-white font-weight-light">{{prod.name}}</td>
          </tr>
          <tr>
            <td class="text-white font-weight-light">N° di BeerBox: {{prod.qty}}</td>
          </tr>
          <tr>
            <td class="text-white font-weight-light">Prezzo per BeerBox: €{{prod.price}}</td>
          </tr>      
        </table>      
        {% endfor %}
        <div class="text-center" style="margin: 5px 5px 5px 5px;">
          <span style="font-size:1.1em;font-weight: bold;">Totale</span> 
          <span class="text-white font-weight-light" style="font-size:0.6em;">(con sconti e trasporto)</span> 
          <span style="font-size:1.1em;font-weight: bold;">€{{purchase.orders.totalPriceTotal}}</span>
        </div>
        <div class="text-center" style="margin: 10px 5px 0px 5px;">
        {%if purchase.orders.deliveryType == 'Consegna'%}
          <div class="text-white font-weight-light"> <span style="font-size:1.1em;font-weight: bold;">Consegnato </span> il {{purchase.orders.delivery.date_ref}} <br> in <br> </div>
          <div class="text-white font-weight-light">
            {{purchase.orders.address.address}} {{purchase.orders.address.houseNumber}} <br>
            {{purchase.orders.address.postcode}} - {{purchase.orders.address.city}} ({{purchase.orders.address.province}})</div>
        {%else%}
          <div class="text-white font-weight-light"><span style="font-size:1.1em;font-weight: bold;">Ritirato </span> il {{purchase.orders.delivery.date_ref}} <br> in <br> </div>
          <div class="text-white font-weight-light">
            {{addressRitiro.address}} {{addressRitiro.houseNumber}} <br> 
            {{addressRitiro.postcode}} - {{addressRitiro.city}} ({{addressRitiro.province}})</div>
        {%endif%}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



<script type="text/javascript">
  $('#myTab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
  })
</script>

{% endblock %}
