{% extends "layouts/main.njk" %}
{% block body %}

      <h3 class="text-white text-center bg-dark">Birre</h3>
      <hr style="border-top: 1px solid #5375BD;">

      {% if message %}
        {% for message in message %}
          <div class="alert alert-{{type}}">{{message}}</div>
        {% endfor %}
      {% endif %}

      {% for prod in products %}
        <form method="POST" action="/shop">
          <input type="hidden" name="item_id" value="{{prod.id}}">
            <div class="card h-100 border-1" style="background-color:#2A0009;border-color:#903246;margin: 0px 0px 10px 0px;">
              <a href="#"><img class="card-img-top" src="{{prod.linkImage}}" alt=""></a>
              <div class=" card-body">
                <h4 class="card-title text-white text-left">
                  {{prod.name}}
                </h4>
                <p class="text-white font-weight-light text-left">{{prod.quantity}}</p>
                <div style="margin: 0px 0px 10px 0px;">
                  <button type="submit" class="btn btn-my btn-lg btn-block" id="mybutton">
                    {{prod.prettyPrice}} Aggiungi al Carrello
                  </button>
                </div>
                <div class="align-self-center">
                  <p class="text-white font-weight-light text-justify">{{prod.description}}</p>
                </div>
              </div>
              <!--div class="card-footer" style="background-color:#FFBB35;">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div-->
            </div>
            <hr style="border-top: 1px solid #5375BD;">
        </form>

     {% else %}

      <p>Non ci sono prodotti :(<br> <a href="/products">Aggiungi</a></p>

    {% endfor %}

{% endblock %}
