{% extends "layouts/main.njk" %}
{% block body %}

      <h3 class="text-white text-center bg-dark">Completa con i tuoi dati</h3>
      <hr style="border-top: 1px solid #5375BD;">

      {% if message %}
        {% for message in message %}
          <div class="alert alert-{{type}}">{{message}}</div>
        {% endfor %}
      {% endif %}
      <ul>
        <li>
          <a href="javascript:void(0)" class="brad_button_770103363">$20</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="brad_button_770103363">$50</a>
        </li>
      </ul>

      <input type="text" id="paypal_donate_amount" />


<script type="text/javascript">

  $(function(){
      $('.brad_button_770103363').click(function(){
          var paypal = $(this).text();
          $('#paypal_donate_amount').val(paypal);
          var paypal = null;
      });
  });

</script>

{% endblock %}
