{% extends "layouts/main.njk" %}
{% block body %}

      <h3 class="text-white text-center bg-dark">Completa con i tuoi dati</h3>
      <hr style="border-top: 1px solid #5375BD;">

      {% if message %}
        {% for message in message %}
          <div class="alert alert-{{type}}">{{message}}</div>
        {% endfor %}
      {% endif %}



<script type="text/javascript">
/*==================================================================*/
/* GESTIONE della CITTA' e CAP con recupero da MONGODB              */
/*==================================================================*/

$('body').on('click','#myselect li a',function(){
      console.log('COMUNE di ',$(this).text());
      //var comune = $(this).text();
      //$('#inputCity').val(comune);
      //console.log('this',this);
      selectCaps(this);
      //var comune = null;
});

$('body').on('click','#myselectcaps li a',function(){
      console.log('CAP: ',$(this).text());
      //selectCap(this);
      $("#myselectcaps").hide();
      $('#myselect').hide();
      document.getElementById('inputCap').value = selectCap.text;
});
/*
function selectCap(selectCap) {
    $("#myselectcaps").hide();
    document.getElementById('inputCap').value = selectCap.text;
}
*/
function selectCaps(selectCity) {
  $('#myselect').hide();
  document.getElementById("inputCity").value = selectCity.text;
  document.getElementById("inputCap").focus();
  let data = {};
  data.city = selectCity.text;
  /* Recuper i CAP della città seledocument.getElementById("inputCap").focus();zionata da MongoDB */
  $.ajax({
    type: 'POST',
    dataType: 'json',
    url: '/caps',
    data: data,
    success: function(res) {
      /* Creo la select option con elenco dei CAP se multipli e dinamicamente */
      if (typeof res !== 'undefined' && res.length > 0) {
        let selectcaps = document.createElement('ul');
        let size = res.length;

        if ( size == 1 ) {
          document.getElementById("inputCap").value = res[0].CAP;
          $("#myselectcaps").hide();
          $('#myselect').hide();
        } else {
          selectcaps.setAttribute('id','myselectcaps');
          selectcaps.setAttribute('class','form-control');
          selectcaps.setAttribute('style','list-style-type: none;');

          for (var i=0; i < res.length; i += 1) {
            option = document.createElement('li');
            a = document.createElement('a');
            a.textContent = res[i].CAP;
            a.setAttribute('href',"javascript:void(0)");
            option.appendChild(a);
            selectcaps.appendChild(option);
          };

          $("#caps").html(selectcaps);
        }
      } else {
        if (document.getElementById('myselectcaps') !=null) {
          document.getElementById('myselectcaps').remove();
        }
      }
    },
    error: function (e) {
      console.log("Error", e);
    }
  });
}

function selectCity (v) {
  document.getElementById("inputCity").focus();
  var vl = v.toLowerCase();
/*  Per ottimizzare le chiamate al DB  solo le citta con 2 caratteri sono permesse */
  if (vl.length > 2 || vl =='lu' || vl =='ne' || vl =='re' || vl =='ro') {

    var data = {};
    data.city = v;
/* Seleziono la città con API che ricerca su MongoDB */
    $.ajax({
      type: 'POST',
      dataType: 'json',
      url: '/cities',
      data: data,
      success: function(res) {
        if (typeof res !== 'undefined' && res.length > 0) {
          /* Creo la lista <ul> <il> con elenco delle città in modo dinamico */
          let select = document.createElement('ul');
          let size = res.length;

          select.setAttribute('id','myselect');
          select.setAttribute('class','form-control');
          select.setAttribute('style','list-style-type: none;');

          for (var i = 0; i <res.length; i += 1) {
              let option = document.createElement('li');
              a = document.createElement('a');
              //a.textContent = res[i].Comune+'('+res[i].Provincia+')';
              a.textContent = res[i].Comune;
              a.setAttribute('href',"javascript:void(0)");
              option.appendChild(a);
              select.appendChild(option);
          };
          $("#cities").html(select);

        } else {
          if (document.getElementById('myselect') != null) {
            document.getElementById('myselect').remove();
          }
          if (document.getElementById('myselectcaps') !=null) {
            document.getElementById('myselectcaps').remove();
          }
        }
        document.getElementById('inputCap').value = null
        //inputCap.value=null; //se modifico la città, setto a null il CAP
      },

      error: function (e) {
        console.log("Error", e);
      }
    });
  } else {
    document.getElementById('inputCap').value = null
    if (document.getElementById('myselect') != null) {
      document.getElementById('myselect').remove();
    }
    if (document.getElementById('myselectcaps') !=null) {
      document.getElementById('myselectcaps').remove();
    }
  }
};
</script>

<form role="form" action="/register" method="post">


  <div class="form-group">
    <div ><label for="inputCity" class="text-white col-form-label-lg">Comune</label></div>
    <div style="color:yellow; font-size:80%;" id="wrongCity"></div>
    <input type="text" class="form-control" id="inputCity" value="{{city}}"
     name="city" placeholder="" autocomplete="off" required oninput="selectCity(this.value)"/>
    <div class="w-100"></div>
    <div id="cities"></div>
  </div>

  <div class="form-group">
    <div "><label for="inputCap" class="text-white col-form-label-lg">CAP</label></div>
    <div style="color:yellow; font-size:80%;" id="wrongCap"></div>
    <input type="text" class="form-control" id="inputCap" value="{{cap}}" name="cap" required readonly>
    <div class="w-100"></div>
    <div id="caps"></div>
  </div>

</form>
<br>

{% endblock %}
