{% extends "layouts/main.njk" %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-2 col-lg-2 col-md-2 col-xs-1"></div>
    <div class="col-sm-8 col-lg-8 col-md-8 col-xs-10" style="background-color:#F6A300;border-radius:12px">
      <h2>The first time in SharingBeer</h2>
      <hr class="hr" style="border-top: 1px solid #480413;">
      <!-- show any messages that come back with authentication -->
      {% if message %}
        {% for message in message %}
          <div class="alert alert-danger">{{message}}</div>
        {% endfor %}
      {% endif %}

<!-- Jumbotron Header -->
      <header class="jumbotron my-4" style="background:#F6A300">
        <h1 class="display-4" style="color:#1140A4">Ciao</h1>
        <h2 style="color:#0C3281">se non hai un bicchiere di birra davanti a te allora sei nel posto giusto!</h2>
        <p  style="color:white" align="center">Tutte le sensazioni che si trovano in un bicchiere della nostra birra sono il risultato della miscela di 4 fondamentali ingredienti: Acqua, Malto di Orzo, Luppoli e Lievito </p>
        <p style="color:#2A0009" align="center">Produciamo Birra perchè amiamo bere birra! Se anche tu sei un amante della Birra allora valida il tuo invito e entra in SharingBeer </p> 
      </header>
        

      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12" >
          <form role="form" action="/validation" method="post" autocomplete="off">
            <div class="form-group">
              <label for="inputUsernameEmail">User</label> 
              <p style="font-size:75%;" >(L'email identifica sia l'utente per l'accesso che l'inidrizzo di posta. Quella proposta è quella dell'inivito. Se la modifichi deve essere una email personale valida e da te accessibile.)  </p>             
              <input type="text" class="form-control" id="inputUsernameEmail" name="email" value="{{prospect.email}}" placeholder="your@email.address">
            </div>
            <div class="form-group">
              <label for="inputUserName">Name</label>
              <input type="text" class="form-control" id="inputFirsName" value="{{prospect.name.first}}"
               name="firstName" placeholder="First name" required>
            </div>
            <div class="form-group">
              <label for="inputUsernSurname">Surname</label>
              <input type="text" class="form-control" id="inputLastName"
               name="lastName" placeholder="Last name"  required>
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" name="password" required>
            </div >
            <button type="submit" class="btn btn btn-primary">
              <h4>Validate</h4>
            </button>
            <input type="hidden" id="tokenID" name="token" value={{prospect.resetPasswordToken}}>
          </form>
        </div>
      </div>  

<hr class="hr" style="border-top: 1px solid #480413;">
<h2 style="color:#480413"> The advantages </h2>

      <div class="row text-center">

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card">
            <!--img class="card-img-top" src="http://placehold.it/500x325" alt=""-->
            <div class="card-body">
              <h3 class="card-title" style="color:#0C3281"><!--svg style="vertical-align:bottom;width:36px;height:36px"  viewBox="0 0 24 24"><path d="M0 0h24v24H0zm18.31 6l-2.76 5z" fill="none"/><path d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-9.83-3.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4h-.01l-1.1 2-2.76 5H8.53l-.13-.27L6.16 6l-.95-2-.94-2H1v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.13 0-.25-.11-.25-.25z"/></svg--> Una birra offerta </h3>
              <p class="card-text">accettando questo invito hai 1 birra gratis sull'acquisto di un packaging da 4</p>
            </div>
    
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title" style="color:#0C3281">Invita i tuoi amici</h3>
              <p class="card-text">invita i tuoi amici e dagli la possibilità di bere la nostra birra e tu potrai accumalare Booze per bere gratis </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title" style="color:#0C3281" >Prodotto per me</h3>
              <p class="card-text">scegli o proponi una ricetta e potrai dare il tuo nome all'etichetta del lotto di birra</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title" style="color:#0C3281">Fare la birra</h3>
              <p class="card-text">partecipa alla produzione di una cotta imparado l'arte della birrificazione</p>
            </div>
          </div>
        </div>
      </div> 
      </br>
<!-- /.row -->
    </div>
    <div class="col-sm-2 col-lg-2 col-md-2 col-xs-1"></div>
  </div>
</div>

{% endblock %}
