{% extends "layouts/main.njk" %}
{% block body %}

  
      <h3 class="text-white text-center" style="margin:6px 0px 0px 0px;"> La prima volta in Sharing Beer </h3>
      <hr style="border-top: 1px solid #5375BD">
      <!-- show any messages that come back with authentication -->
      {% if message %}
        {% for message in message %}
          <div class="alert alert-danger">{{message}}</div>
        {% endfor %}
      {% endif %}

      <header class="jumbotron" style="background-color:#2A0009; padding-top: 0px;  padding-bottom: 0px;  margin-bottom: 0px;">
        <h1 class="display-4" style="color:white">Ciao,</h1>
        <p class="lead text-white text-justify">se non hai ancora un bicchiere di birra davanti a te allora sei nel posto giusto!</p>
        <p class="lead text-white text-center" style="font-size:1.7em">Prova la <img style="vertical-align: baseline" height="32" src="/img/birra_viana.png"> </p>
        <!--hr  style="border-top: 1px solid #903246"-->
      </header>

      <svg class="arrows">
              <path class="a1" d="M0 0 L30 32 L60 0"></path>
              <path class="a2" d="M0 20 L30 52 L60 20"></path>
              <path class="a3" d="M0 40 L30 72 L60 40"></path>
      </svg>

      <div class="card" style="background-color:#2A0009;border-color:#903246;margin: 30px 0px 10px 0px;;">
        <div class="card-body">
          <h3 class="card-title text-white font-weight-light text-center"> Una birra offerta </h3>
          <div class="flex-row">
            <div ><img class="mx-auto d-block" src="img/allegri_con_boccali.png" style="height:100%;width:100%;margin-bottom:30px"></div>
            <div class="align-self-center">
              <p class="card-text text-white font-weight-light text-justify">accettando questo invito hai <span style="font-size:1.2em;"> 2 birre offerte </span> sull'acquisto di un packaging da 4</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12" >
          <form role="form" action="/validation" method="post" autocomplete="off">
            <fieldset>
              <div class="form-group">
                <label class="text-white col-form-label-lg" for="inputUsernameEmail">Email</label> 
                <div style="color:#ffc107; font-size:0.9em;" id="wrongMail"></div>
                <p class="text-white font-weight-light text-justify" style="font-size:0.7em;">l'email identifica sia l'utente per l'accesso che l'inidrizzo di posta. Questa proposta è quella dell'inivito. Se la modifichi deve essere una email personale valida e da te accessibile.</p>             
                <input type="text" class="form-control" id="inputUsernameEmail" name="email" value="{{prospect.email}}" placeholder="your@email.address">
              </div>
              <div class="form-group">
                <label class="text-white col-form-label-lg" for="inputUserName">Nome</label>
                <input type="text" class="form-control" id="inputFirsName" value="{{prospect.name.first}}"
                 name="firstName" placeholder="First name" required>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="text-white col-form-label-lg">Crea una nuova Password</label>
                <p class="text-white font-weight-light text-justify" style="font-size:0.7em;">di almeno di 6 caratteri, contenente un numero, una lettera minuscola, una maiuscola e un carattere speciale.</p> 
                <div style="color:#ffc107; font-size:0.9em; margin-bottom:5px;" id="wrongPwd"></div>
                <input type="password" class="form-control" id="inputPassword" name="pwd1" autofocus  required>
              </div>
              <div class="form-check">
                <div style="color:#ffc107; font-size:0.9em;" id="wrongPrivacy"></div>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label text-white font-weight-light text-justify" for="flexCheckDefault">Accetto le Condizioni generali di vendita e l'informativa sulla privacy di Sharing Beer</label>
              </div>
              <div style="margin-top: 10px;">
                <button type="submit" type="submit" class="btn btn-my btn-lg btn-block" onclick="return fieldsValidationControl()"> Accetto l'invito </button>
                <input type="hidden" id="tokenID" name="token" value={{prospect.resetPasswordToken}}>
              </div>
            </fieldset>
          </form>
          <br>
        </div>
      </div>
    
      <!--div class="card" style="background-color:#2A0009;border-color:#903246;margin-bottom: 10px;">
        <div class="card-body">
          <h3 class="card-title text-white font-weight-light"> Una birra offerta </h3>
          <p class="card-text text-white font-weight-light">accettando questo invito hai 1 birra gratis sull'acquisto di un packaging da 4</p>
        </div>
      </div>
      <div class="card" style="background-color:#2A0009;border-color:#903246;margin-bottom: 10px;">
        <div class="card-body">
          <h3 class="card-title text-white font-weight-light">Invita i tuoi amici</h3>
          <p class="card-text text-white font-weight-light">invita i tuoi amici e dagli la possibilità di bere la nostra birra e tu potrai accumalare Booze per bere gratis </p>
        </div>
      </div>
      <div class="card" style="background-color:#2A0009;border-color:#903246;margin-bottom: 10px;">
        <div class="card-body">
          <h3 class="card-title text-white font-weight-light">Prodotto per me</h3>
          <p class="card-text text-white font-weight-light">scegli o proponi una ricetta e potrai dare il tuo nome all'etichetta del lotto di birra</p>
        </div>
      </div>
      <div class="card" style="background-color:#2A0009;border-color:#903246;margin-bottom: 10px;">
        <div class="card-body">
          <h3 class="card-title text-white font-weight-light">Fare la birra</h3>
          <p class="card-text text-white font-weight-light">partecipa alla produzione di una cotta imparado l'arte della birrificazione</p>
        </div>
      </div-->
   

{% endblock %}
