{% extends "layouts/main.njk" %}
{% block body %}

  <div class="row">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-md-6 col-lg-4" style="background-color:#2A0009;border-radius:12px; ">
      <h3 class="text-white text-center" style="margin:6px 0px 0px 0px;">QR Code Verify</h3>
      <hr style="border-top: 1px solid #5375BD;">

      {% if message %}
        {% for message in message %}
          <div class="alert alert-warning">{{message}}</div>
        {% endfor %}
      {% endif %}

      

      <div class="form-control webcam-start" id="webcam-control">
        <label class="form-switch">
          <input type="checkbox" id="webcam-switch">
            <i></i> 
          <span id="webcam-caption">Click to Start</span>
        </label>      
      </div>
        
      <div id="errorMsg" class="col-12 col-md-6 alert-danger d-none">
          Fail to start camera, please allow permision to access camera. <br/>
          If you are browsing through social media built in browsers, you would need to open the page in Sarafi (iPhone)/ Chrome (Android)
          <button id="closeError" class="btn btn-primary ml-3">OK</button>
      </div>
      <div class="md-modal md-effect-12">
          <div id="app-panel" class="app-panel md-content row p-0 m-0">     
              <div id="webcam-container" class="webcam-container col-12 d-none p-0 m-0">
                  <video id="webcam" autoplay playsinline width="320" height="240"></video>
                  <canvas id="canvas" class="d-none"></canvas>
                  <!--div style="position: absolute; z-index: 9999; border-color: rgba(0, 0, 0, 0.48); border-style: solid; border-width: 115px 195px; box-sizing: border-box; inset: 0px;">
                    <div style="position: absolute; background-color: rgb(255, 255, 255); width: 40px; height: 5px; top: -5px; left: 0px;"></div>
                    <div style="position: absolute; background-color: rgb(255, 255, 255); width: 40px; height: 5px; top: -5px; right: 0px;"></div>
                    <div style="position: absolute; background-color: rgb(255, 255, 255); width: 40px; height: 5px; top: 255px; left: 0px;"></div>
                    <div style="position: absolute; background-color: rgb(255, 255, 255); width: 40px; height: 5px; top: 255px; right: 0px;"></div>
                    <div style="position: absolute; background-color: rgb(255, 255, 255); width: 5px; height: 45px; top: -5px; left: -5px;"></div>
                    <div style="position: absolute; background-color: rgb(255, 255, 255); width: 5px; height: 45px; top: 215px; left: -5px;"></div>
                    <div style="position: absolute; background-color: rgb(255, 255, 255); width: 5px; height: 45px; top: -5px; right: -5px;"></div>
                    <div style="position: absolute; background-color: rgb(255, 255, 255); width: 5px; height: 45px; top: 215px; right: -5px;"></div>
                  </div-->
              </div>
          </div>        
      </div>
      <br>
      <br>
      <div class="col-md-3 col-lg-4"></div>
    </div>
  </div>

  <script type="text/javascript" src="js/jsqrcode/src/grid.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/version.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/detector.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/formatinf.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/errorlevel.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/bitmat.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/datablock.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/bmparser.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/datamask.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/rsdecoder.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/gf256poly.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/gf256.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/decoder.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/qrcode.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/findpat.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/alignpat.js"></script>
  <script type="text/javascript" src="js/jsqrcode/src/databr.js"></script>
  <script type="text/javascript" src='js/webcamControl.js'></script>

{% endblock %}'
