html {
  scroll-behavior: smooth;
  /*font-family: "myFont", "Bitstream Vera Serif", serif;*/
}

body {
  font-size:1em;
  background:repeating-linear-gradient(135deg,#C65800,#C65800 3px,#976400 3px,#976400 6px); 
  margin:0px 0px 0px 0px; 
  min-height: 480px;
}

/* estende le classi di Bootstrap */

.text-emphasis {
  color: #FFBB35;
}

/* Animate DIV */
.animate-div {
  animation: my-animation 0.9s ease-in-out;
}
@keyframes my-animation {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}
/*-------------*/

.badge {
  padding-left: 10px;
  padding-right: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 18px;
    background: #FFBB35;
    color: #2A0009;
    padding: 0 8px;
    vertical-align: top;
    margin-left: -22px; 
}

/*------------------*/
.btn-my{
  background-color:#5375BD;
  color: #fff;
}
.btn-my:hover{
  background-color: #1140A4;
  color: #fff;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.input-error {
  color: #ffc107; 
  font-size:1em;
  margin-bottom:5px;
/*  animation-name: blinker;
  animation-duration: 2s; 
  animation-timing-function; linear; 
  animation-delay: 2s; 
  animation-iteration-count: 5;
  animation-delay: 3s;
*/
}
/*
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
*/
.arrows {
  width: 60px;
  height: 72px;
  position: relative;
  left: 40%;
}

.arrows path {
  stroke: #5375BD;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/*-----------------------
/* Design Cookie Content
/*-----------------------*/
#cookiePopup {
  background: white;
  /*width: 25%;*/
  position: fixed;
  /*left: 5%;
  right: 5%; */
  bottom: 0px;
  /*box-shadow: 0px 0px 15px #cccccc;*/
  padding: 5px 10px;
}

#cookiePopup p{
text-align: left;
font-size: 15px;
color: #4e4e4e;
}

#cookiePopup button{
  width: 100%;
  /*border: navajowhite;*/
  background: #097fb7;
  padding: 5px;
  border-radius: 10px;
  color: white;
}


/*--------------------------------
/* Design Document display popup
/*-------------------------------*/

.infoPopup {
  display: none;
  position: fixed;
  width: 80%;
  height: 70%;
  z-index:1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2A0009;
  border: 1px solid #5375BD;
  overflow-y:auto;
}

.blur.active {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
}

/* Stili per la pagina sottostante */
#pagina-sottostante {
  height: 100vh;
  overflow-y: auto;
}

.blocca-scroll {
  overflow-y: hidden;
  height: 100vh;
}

/*--------------------------------*/

.bg-dark {
  background: repeating-linear-gradient(135deg,#2A0009,#2A0009 3px,#480413 3px,#480413 6px);
  margin:15px 0px 0px 0px;
  border-radius:6px 6px 6px 6px;
}

.square {
  border: 5px solid white;
  position: relative;
  width: 50%;
}

.content {
    padding: 20px;
    font-size: 1.3em;
}
/*
.square {
    border: 5px solid white;
    text-align: center;
    width: 30vw;
    height: 30vw;
}
.content {
    font-size: 2em;
    padding-top: 20%;
}
*/
#loading, #waiting {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #000;
    z-index: 99;
    text-align: center;
}

#loading img , #waiting img{
  margin-top: 40%;
}

@font-face {
    font-family: myFont;
    src: url("/font/bauserif.ttf");
}

.sb-font {
    font-family: myFont;
}

.containerShop {
    position: relative;
}

.corner-text {
    position: absolute;
    top: 10px; /* Distanza dal bordo superiore */
    left: 10px; /* Distanza dal bordo sinistro */
    color: white; /* Colore del testo */
    font-size: 22px; /* Dimensione dl testo */
    background-color: rgba(255, 187, 53, 0.8); /* Sfondo semi-trasparente */
    padding: 5px; /* Padding attorno al testo */
    border-radius: 5px; /* Angoli arrotondati */
}


