<style type="text/css">
  p {
    font-weight: lighter;
    color: white;
    font-size:0.9em;
  }
</style>
<div class="text-white font-weight-light" style="margin: 0px 10px 0px 10px;">
<font color="#FFFFFF"><font face="Cantarell"><font size="4" style="font-size: 14pt"><b>
ORARI DI APERTURA</b></font></font></font>
<p style="margin-bottom: 0cm; line-height: 100%"><br/></p>
<table width="100%" cellpadding="0" cellspacing="0">
  
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p><br/>

      </p>
    </td>
    <td colspan="2" width="40%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">Mattino</font></p>
    </td>
    <td colspan="2" width="40%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">Pomeriggio</font></p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p><br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">dalle</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">alle</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">dalle</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">alle</font></p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p align="right">
      <font face="Cantarell Light"><b>Lunedì</b></font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">17:00</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">20:00</font></p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p align="right">
      <font face="Cantarell Light"><b>Martedì</b></font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">17:00</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">20:00</font></p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p align="right">
      <font face="Cantarell Light"><b>Mercoledì</b></font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">17:00</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">20:00</font></p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p align="right">
      <font face="Cantarell Light"><b>Giovedì</b></font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">17:00</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">20:00</font></p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p align="right">
      <font face="Cantarell Light"><b>Venerdì</b></font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">17:00</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">20:00</font></p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p align="right">
      <font face="Cantarell Light"><b>Sabato</b></font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">10:00</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">13:00</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p align="right">
      <font face="Cantarell Light"><b>Domenica</b></font></p>
    </td>
    <td colspan="4" width="80%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">chiuso</font></p>
    </td>
  </tr>
</table>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>
</p>

</div>