<style type="text/css">
  div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;        
        padding: 5px;
        font-size: 24px;
        float:right;
  }
  p {
    font-weight: lighter;
    color: white;
    font-size:0.9em;
  }
</style>
<div style="margin: 10px;">  
  <h4 class="text-white">Vantaggi </h4>
  <ul class="text-white font-weight-light">
    <li> L'invito è esclusivo e ti permette di accedere a Sharingbeer per acquistare birre artigianali</li>
    <li> L'accettazione dell'invito NON ha vincoli ne obblighi di acquisto</li>
    <li> La persona che ti ha invitato ti da la possibilità di ottenre uno sconto al primo acquisto</li>    
    <li> Ad ogni acquisto potrai anche tu inivitare tuoi amici</li>
    <li> Ad ogni acquisto da parte di un amico da te invitato e per sempre, accumuli punti Pinta per sconti fino al 50%</li>
    <li> La birra ti verrà consegnata direttamente a casa tua o potrai ritirarla presso il birrificio</li>
  </ul>
</div>