<style type="text/css">
  div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;        
        padding: 5px;
        font-size: 24px;
        float:right;
  }
  p {
    font-weight: lighter;
    color: white;
    font-size:1.3em;
  }
</style>
<div style="margin: 10px;">
  <h4 class="text-white"> Amici! </h4> 
  <ul class="text-white font-weight-light">
    <li> Ad ogni acquisto avrai inviti disponibili</li>
    <li> Gli Amici da te invitati, ad ogni loro acquisto ti daranno punti Pinta per sconti fino al 50% sui tuoi acquisti</li>
    <li> Questo vantaggio è per sempre e ad ogni acquisto dei tuoi Amici</li>    
    <li> I punti Pinta accumulati sono automaticamente convertiti in sconti e appliati quando l'importo equivalente supera o eguaglia il costo medio di una bottiglia</li>    
  </ul>
  <p class="text-white text-center"> Quindi più inviti più risparmi </p> 
</div>
</div>