<style type="text/css">
  div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 5px;
        font-size: 24px;
        float:right;
  }
  p {
    font-weight: lighter;
    color: white;
    font-size:0.9em;
  }
 td {
   font-weight: normal;
    color: white;
    text-align: center;
 }
 h5{
    margin: 7px;
    color: white;
    font-weight: normal;
    font-size: 14pt
  }
</style>
<div class="top"></div>
<div style="background-color:#2A0009;">
  <h5>ORARI DI APERTURA</h5>
  <table width="100%" cellpadding="0" cellspacing="0">

    <tr valign="top">
      <td width="20%"></td>
      <td colspan="2" width="40%" align="center">
        Mattino
      </td>
      <td colspan="2" width="40%" align="center">
        Pomeriggio
      </td>
    </tr>
    <tr valign="top">
      <td width="20%">
      </td>
      <td width="20%">
        <p> dalle</p>
      </td>
      <td width="20%">
        <p>alle</p>
      </td>
      <td width="20%">
        <p>dalle</p>
      </td>
      <td width="20%">
        <p>alle</p>
      </td>
    </tr>
    <tr valign="top">
      <td width="20%"><p align="right">
        <b>Lunedì</b></p>
      </td>
      <td width="20%">
      </td>
      <td width="20%" ><p align="center">
        <br/>

        </p>
      </td>
      <td width="20%" ><p align="center">
        17:00</p>
      </td>
      <td width="20%" ><p align="center">
        20:00</p>
      </td>
    </tr>
    <tr valign="top">
      <td width="20%" ><p align="right">
        <b>Martedì</b></p>
      </td>
      <td width="20%" ><p align="center">
        <br/>

        </p>
      </td>
      <td width="20%" ><p align="center">
        <br/>

        </p>
      </td>
      <td width="20%" ><p align="center">
        17:00</p>
      </td>
      <td width="20%" ><p align="center">
        20:00</p>
      </td>
    </tr>
    <tr valign="top">
      <td width="20%" ><p align="right">
        <b>Mercoledì</b></p>
      </td>
      <td width="20%" ><p align="center">
        <br/>

        </p>
      </td>
      <td width="20%" ><p align="center">
        <br/>

        </p>
      </td>
      <td width="20%" ><p align="center">
        17:00</p>
      </td>
      <td width="20%" ><p align="center">
        20:00</p>
      </td>
    </tr>
    <tr valign="top">
      <td width="20%" ><p align="right">
        <b>Giovedì</b></p>
      </td>
      <td width="20%" ><p align="center">
        <br/>

        </p>
      </td>
      <td width="20%" ><p align="center">
        <br/>

        </p>
      </td>
      <td width="20%" ><p align="center">
        17:00</p>
      </td>
      <td width="20%" ><p align="center">
        20:00</p>
      </td>
    </tr>
    <tr valign="top">
      <td width="20%" ><p align="right">
        <b>Venerdì</b></p>
      </td>
      <td width="20%" ><p align="center">
        <br/>

        </p>
      </td>
      <td width="20%" ><p align="center">
        <br/>

        </p>
      </td>
      <td width="20%" ><p align="center">
        17:00</p>
      </td>
      <td width="20%" ><p align="center">
        20:00</p>
      </td>
    </tr>
    <tr valign="top">
      <td width="20%" ><p align="right">
        <b>Sabato</b></p>
      </td>
      <td width="20%" ><p align="center">
        10:00</p>
      </td>
      <td width="20%" ><p align="center">
        13:00</p>
      </td>
      <td width="20%" ><p align="center">
        <br/>

        </p>
      </td>
      <td width="20%" ><p align="center">
        <br/>

        </p>
      </td>
    </tr>
    <tr valign="top">
      <td width="20%" ><p align="right">
        <b>Domenica</b></p>
      </td>
      <td colspan="4" width="80%" ><p align="center">
        chiuso</p>
      </td>
    </tr>
    <tr>
		<td colspan = "5"> <p> Per il ritiro è possibile parcheggiare nel cortile del birrificio in Via Molignati 12 - Candelo (BI)</p></td>
    </tr>
  </table>
</div>
