  <style type="text/css">
    div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;        
        padding: 5px;
        font-size: 24px;
        float:right;
      }
    p {
      margin: 10px;
      font-weight: lighter;
      color: white;
      font-size:0.9em;
    }
    li{
      font-weight: lighter;
      color: white;
      font-size:0.9em;
      margin: 5px;
    }
    h4{
      margin: 5px;
      color: white;
      font-weight: normal;
      font-size: 14pt
    }
    h5{
      margin: 7px;
      color: white;
      font-weight: normal;
      font-size: 14pt
    }
  </style>
<div style="background-color:#2A0009;">
  <div class="top"></div>
  <h5>CONDIZIONI GENERALI DI VENDITA </h5>
  <p><i>in vigore da Marzo 2024</i></p>

  <p>Le parti del contratto di compravendita sono: Birrificio Viana Srl con sede legale in Via Molignati 12, 13878 Candelo (BI), di seguito Birrificio Viana e il Cliente.
  La vendita di birra e alcolici è riservata ai maggiori di anni 18 pertanto il cliente deve aver compiuto 18 anni nel momento dell’acquisto. Birrificio Viana non è responsabile di qualsiasi uso improprio del prodotto da parte del cliente successivo all’acquisto.<br>
  La vendita/consegna può avvenire esclusivamente su territorio nazionale (Italia).</p>

  <h4>Modalità di acquisto</h4>
  <p>La vendita avviene esclusivamente attraverso la web-app sharingbeer.it (.com, .eu). Per accedere alla web-app occorre essere “invitati”. L’invito può avvenire direttamente da Birrificio Viana o da un cliente già registrato. Per accedere al servizio è necessario registrarsi inserendo i dati personali e accettare le condizioni di vendita qui riportate.<br>
  Tramite la web-app è possibile visionare il negozio virtuale dove sono presenti i prodotti correlati di descrizione e caratteristiche tecniche. Il prodotto è venduto in beerbox (confezione) contenenti 6 bottiglie da 500ml. Non vi è un ordinativo minimo di beerbox. Non è possibile ordinare bottiglie singole.<br>
  Per effettuare l’acquisto basta inserire nel carrello spesa i prodotti preferiti cliccando sul pulsante “Aggiungi al Carrello”, operazione che non impegna il cliente all’acquisto.<br> 
  Nel caso un prodotto non fosse momentaneamente disponibile in azienda non sarà possibile procedere con l’ordine. In questo caso il cliente, se riterrà necessario, potrà spuntare la casella che gli dà la possibilità di essere avvisato non appena  il prodotto sarà nuovamente disponibile senza alcun obbligo di acquisto.<br>
  Per procedere con l’acquisto è necessario selezionare il carrello e cliccare su “Procedi con l’acquisto”. Nella sezione successiva (potrebbero essere richiesti dati personali) si potrà  scegliere la modalità di ritiro in sede, scegliere un indirizzo già inserito o indicare un nuovo indirizzo di consegna. Dopo la scelta comparirà una pagina di riepilogo con il prezzo totale dell’ordine e il pulsante  “Conferma e paga” per accedere al sistema di pagamento.<br>
  I pagamenti avvengono attraverso banche e/o sistemi di pagamento sicuri non gestiti da Birrificio Viana.<br>
  Birrificio Viana si riserva la facoltà di variare, in ogni momento, i mezzi di pagamento utilizzabili dai clienti fatto salvo che saranno validi quelli indicati sulla web-app al momento del pagamento.<br>
  L’addebito avverrà contestualmente all’invio della conferma d’ordine da parte di Birrifici Viana al cliente.<br>
  Dopo la conferma del  pagamento non sarà più possibile modificare alcun dato.<br> 
  Successivamente Birrificio Viana invierà una e-mail al cliente con il link dove poter visionare il riepilogo dell’ordine. Il cliente è tenuto a controllare e conservare il riepilogo ed esibirlo nel caso di ritiro in azienda o alla consegna, inoltre Birrificio Viana potrà richiederlo per qualsiasi verifica in caso di contenzioso.<br>
  Tutti gli ordini effettuati sono inoltre visibili nella sezione “ordini”con le rispettive specifiche, suddivisi per “in consegna”, “da ritirare” o “consegnati o ritirati”.</p>

  <h4>Prezzi </h4>
  <p>I prezzi indicati per ogni prodotto sono in euro, IVA compresa.<br>
  Oltre al prezzo del prodotto sarà indicato il prezzo di spedizione che varia a seconda dell'indirizzo di consegna e del quantitativo dei prodotti acquistati. Nel caso di ritiro della merce nella sede di Birrificio Viana (via Molignati 12,  13878 Candelo – BI) non sarà aggiunto costo di spedizione.<br>
  Il costo di spedizione sarà indicato separatamente rispetto al prezzo del prodotto così che il cliente lo conosca prima della conferma dell’ordine e sarà pagato dal cliente, in caso di conclusione del contratto, unitamente e contestualmente al pagamento del prezzo del prodotto.<br>
  <b>Attenzione</b>: è prevista una penale di 5,00€ per costi di giacenza nel caso di secondo tentativo di consegna da parte di corriere non andato a buon fine, che saranno addebitati al cliente nel successivo acquisto (vedi consegna).<br>
  I prezzi possono essere soggetti a modifica senza preavviso da parte di Birrificio Viana, fermo restando che per ogni acquisto si intenderanno validi quelli indicati sulla web-app al momento della conferma d’ordine da parte del cliente.</p>

  <h4>Ritiro/Consegna</h4>

  <p><b>Ritiro in sede:</b><br>
  E’ data possibilità al cliente di ritirare la merce nella sede di Birrificio Viana (via Molignati 12,  13878 Candelo – BI) selezionando l’opzione  nella apposita sezione. La merce è da subito disponibile e ritirabile nei giorni e orari di apertura del birrificio indicati sulla web-app. Per il ritiro il cliente, o persona incaricata dal cliente e maggiorenne e munita di documento d’identità, dovrà esibire il riepilogo dell’ordine ricevuto via e-mail dal birrificio o presente sul riepilogo ordini  sulla web-app. La merce deve essere ritirata entro 7 giorni lavorativi dalla data dell’ordine.</p>

  <p><b>Consegna effettuata dal Birrificio Viana:</b><br>
  Entro un raggio di 15 Km dal Birrificio Viana, la consegna sarà curata dal birrificio stesso. <br>
  Il cliente dovrà indicare nell’apposito spazio l’indirizzo completo dell’ubicazione dove vuole che la merce  venga consegnata; dovrà assicurarsi che i dati siano veritieri e mantenerli aggiornati in caso di variazioni. <br>
  In fase successiva alla conferma dell’ordine Birrificio Viana invierà al cliente un primo messaggio (e-mail o whatsapp) con l’indicazione del giorno e dell’ora ipotizzata della consegna e qualche ora prima della consegna un secondo messaggio con un’indicazione più precisa. <br>
  Indicativamente la consegna viene effettuata entro 3 giorni lavorativi successivi a quello dell’ordine.<br>
  Il cliente, o altro soggetto incaricato dal cliente stesso e maggiorenne con relativo documento d’identità, che si trovi all’indirizzo indicato per la consegna dei prodotti è tenuto a verificare, al momento della consegna, che i prodotti corrispondano a quanto indicato nel documento di acquisto sia per numero che per tipologia; che l’imballaggio/confezione dei prodotti sia integra, non danneggiata, o comunque alterata. Reclami in questo senso non sono più possibili dopo la consegna della merce fatto salvo il diritto di recesso.</p>

  <p>In caso di mancata consegna per indirizzo errato, inesistente, ambiguo o per l’assenza del cliente o della persona da lui incaricata al ritiro della merce, la merce stessa sarà riportata in azienda, all’indirizzo della sede di Birrificio Viana (via Molignati 12 13878 Candelo -BI- ). Il cliente sarà avvisato attraverso i canali da lui indicati e potrà effettuare il ritiro entro 7 giorni lavorativi dalla data della mancata consegna senza costi aggiuntivi. Non è previsto in alcun modo un secondo tentativo di consegna da parte di Birrificio Viana. Trascorso il suddetto periodo di tempo la  merce rimarrà in deposito nella sede del birrificio per altri 7 giorni lavorativi e potrà essere ritirata dal cliente con la stessa modalità sopra riportata con un costo aggiuntivo di 5,00€. Dopo di che il cliente non può più ritirare la merce né richiedere la restituzione dell’importo pagato per i prodotti non ritirati. </p>

  <p><b>Consegna tramite Corriere:</b><br>
  Per consegne al di fuori del raggio di 15 Km dalla sede di Birrificio Viana (via Molignati 12 13878 Candelo -BI- ) il birrificio si avvale di corriere espresso SDA - Poste Italiane Delivery Business Express. Dal momento della consegna della merce al corriere, Birrificio Viana non sarà più responsabile della merce ed entrano in  vigore le condizioni e responsabilità del corriere stesso (https://www.posteitaliane.it).<br>
  La merce sarà quindi consegnata dal corriere, all’indirizzo indicato dal cliente al momento dell’invio dell’ordine.<br>
  Il cliente potrà seguire la spedizione sul sito di poste italiane (https://www.posteitaliane.it) nella sezione “Cerca Spedizione”. Il cliente riceverà una notifica informativa sullo status della spedizione attraverso una e-mail che conterrà altresì un link attraverso il quale, con la funzionalità “Scegli Tu”, potrà modificare modalità e/o tempistiche di consegna antecedente al primo tentativo di consegna (esclusivamente sugli status del processo di consegna “Partita” e “In consegna”). <br>
  Per la modalità di spedizione e le opzioni possibili fa fede quanto specificato sulla e-mail o attraverso i link riportati nella e-mail stessa o quanto presente sul sito di Poste Italiane.</p>
  <p>In linea di massima le opzioni possibili per ciascuna spedizione sono:</p>
  <ul>
      <li> consegna in altra data: il destinatari può scegliere una nuova data di consegna da effettuarsi entro 5 giorni lavorativi successivi a quella prevista in origine per il recapito;</li>
      <li> consegna ad altro indirizzo: il destinatario può scegliere un indirizzo di consegna diverso da quello precedentemente indicato (i tempi di consegna potrebbero variare). <b>Attenzione</b>: il nome del destinatario rimane invariato;</li>
      <li> consegna al vicino: il destinatario può scegliere di far consegnate la spedizione ad un vicino di casa/referente al suo stesso indirizzo e civico;</li>
      <li> ritiro in ufficio postale (max 6 confezioni), Punto Poste (max. 1 confezione): il destinatario può scegliere di far consegnare la spedizione presso un ufficio postale o un Punto Poste (la data di consegna potrebbe variare);</li>
      <li> consegna in luogo sicuro: il destinatario può scegliere di far consegnare la spedizione in luogo alternativo presso lo stesso indirizzo di consegna (garage, ingresso, giardino).</li>
  </ul>
  <p>Saranno effettuati due tentativi di consegna.</p>
  <p>Dopo il prima tentativo non andato a buon fine, sarà inviata al destinatario una notifica mediante e-mail con un link attraverso il quale potrà, entro le ore 24.00 del giorno stesso del ricevimento, richiedere una nuova consegna oppure reindirizzare la spedizione presso un ufficio postale (max. 6 confezioni) o un Punto Poste (max. 1 confezione). Nel caso che il destinatario non effettui nessuna  comunicazione entro l’ora indicata, il secondo tentativo di consegna avverrà in automatico il giorno successivo a quello del primo tentativo.<br>
  In caso di mancata consegna anche al secondo tentativo, la spedizione verrà messa in giacenza nell’ufficio postale/Centro Operativo indicato in un ulteriore comunicazione e dove il destinatario potrà ritirarla entro i successivi 7 giorni lavorativi. <b>Attenzione</b>: la giacenza ha un costo di 5,00€ che sarà addebitata al cliente nel successivo acquisto. Trascorsi i 7 giorni non sarà più possibile ritirare la merce. </p>

  <p>Il cliente, o altro soggetto incaricato dal cliente stesso e che si trovi all’indirizzo indicato per la consegna dei prodotti è tenuto a verificare, al momento della consegna, che i prodotti corrispondano a quanto indicato nel documento di acquisto sia per numero che per tipologia; che l’imballaggio/confezione dei prodotti sia integra, non danneggiata, o comunque alterata. Il cliente dovrà sollevare contestazioni di questo tipo direttamente al corriere. Reclami in questo senso non sono più possibili dopo la consegna della merce fatto salvo il diritto di recesso.</p>

  <p>Birrificio Viana, farà tutto quanto nelle sue possibilità affinché i prodotti consegnati o spediti giungano al cliente entro i termini indicati. Tali termini non possono, in ogni caso, essere ritenuti vincolanti per Birrificio Viana che non potrà comunque essere ritenuto in alcun modo responsabile per il loro mancato rispetto.</p>

  <h4>Diritto di recesso</h4>
  <p>Qualora i clienti siano “consumatori” (ossia una persona fisica che agisce per scopi estranei all’attività imprenditoriale, commerciale, artigianale o professionale eventualmente svolta), hanno diritto, ai sensi e per gli effetti di cui all’art. 64 del D. Lgs. n. 206/2005, di recedere dal contratto di compravendita entro 10 giorni lavorativi dalla data di ricevimento dei prodotti oggetto del contratto. Il diritto di recesso deve essere esercitato dai clienti inviando a Birrificio Viana una comunicazione scritta, a mezzo e-mail o lettera , contenente la manifestazione di volontà di avvalersi del diritto di recesso e l’indicazione dell’ordine che ha dato luogo al contratto di compravendita dal quale si intende recedere.<br>
  I clienti si impegnano a restituire i prodotti entro 10 giorni lavorativi dalla data di ricevimento dell’ordine. I prodotti da restituire possono essere consegnati  direttamente alla sede di Birrificio Viana (via Molignati 12  13878 Candelo -BI) o spediti mezzo corriere, in tal caso fa fede la data di spedizione.<br>
  I costi connessi alla restituzione dei prodotti sono interamente a carico del cliente.<br>
  Birrificio Viana si impegna a rimborsare il prezzo pagato dal cliente nella fase di acquisto nel minor tempo possibile, e comunque entro 30 giorni dalla data di ricevimento dei prodotti oggetto del recesso, a condizione che i prodotti restituiti siano in buone condizioni, integri e senza segni di apertura anche nella confezione. A tal fine, Birrificio Viana potrà richiedere ai Clienti i loro dati bancari (IBAN e intestatario del c/c).<br>
  Qualora i clienti esercitino il diritto di recesso in modo non conforme alle modalità e termini di cui al presente regolamento, i clienti non hanno diritto al rimborso del prezzo pagato.</p>

  <h4>Errori</h4>
  <p>Birrificio Viana si impegna a verificare costantemente la web-app al fine di evitare errori o inesattezze. Tuttavia si riserva il diritto di correggere gli errori, le inesattezze o le omissioni contenute anche dopo che sia stato inviato un ordine e altresì si riserva di cambiare o aggiornare le informazioni in qualsiasi momento senza preventiva comunicazione ai clienti.</p>

  <h4>Forza maggiore</h4>
  <p>Birrificio Viana non sarà responsabile per l'impossibilità di completare l'ordine e mandare a buon fine la spedizione, se tale impossibilità dipende da circostanze che non sono sotto il diretto controllo di Birrificio Viana tra cui, ma non solo: la modifica di leggi o regolamenti governativi, incendio, furto, sciopero, incidenti stradali, incidenti naturali, guerre, emergenze nazionali, distacchi di corrente.
  Proprietà Intellettuale 
  Tutti i diritti di proprietà intellettuale connessi al sito birrificioviana.it e alla web-app sharingbeer.it (.com, .eu) (compresi i contenuti) sono di titolarità esclusiva di Birrificio Viana. Tutti i contenuti non possono essere riprodotti né integralmente né parzialmente, trasferiti con mezzi elettronici o convenzionali, modificati, collegati e utilizzati per qualsivoglia fine senza il previo consenso scritto di Birrificio Viana.</p>

  <h4>Legge applicabile</h4>
  <p>I contratti di compravendita sono disciplinati dal diritto italiano (e in particolare dal Decreto Legislativo 206 del 06/09/2005 – che agli art. da 50 a 67 disciplina i contratti a distanza – e dal Decreto Legislativo 70 del 09/04/2003 in materia di commercio elettronico) e alla luce di questo devono essere interpretate.<br>
  Per qualsiasi controversia che possa sorgere  sarà competente in via esclusiva il foro di Biella, ove non diversamente disposto in forma imperativa dalla legge.</p>

  <p>Birrificio Viana non si assume responsabilità per eventuali perdite o danni, diretti o indiretti, presenti o futuri, nei confronti di qualsiasi persona fisica o persona giuridica risultanti da un utilizzo  scorretto del prodotto.</p>

  <h4>Regole smaltimento imballaggi</h4>
  <p>
    <ul>
      <li> Bottiglia capacità 50ml. In vetro marrone da smaltire nella raccolta differenziata vetro. Codifica materiale Gl 72 </li>
      <li> Etichetta (componente accessoria non separabile manualmente)</li>
      <li> Tappo a corona da 26 mm. In acciaio da smaltire nella raccolta differenziata metalli. Codifica materiale FE </li>
      <li> Scatola imballaggio in cartone da smaltire nella raccolta differenziata carta.</li>
    </ul>
  </p>
  <p>Per un corretto smaltimento controlla le indicazioni di smaltimento rifiuti del tuo Comune.</p>
</div>
