<table width="100%">
  <tr>
    <td margin="0.5cm">
      <div class="text-white">Vantaggi</div>
      <ol class="text-white font-weight-light">
        <li> L'invito è esclusivo e ti permette di accedere a Sharingbeer per acquitare birre artigianali</li>
        <li> L' accettazione dell'invito NON ha vincoli ne obblighi di acquisto</li>
        <li> La persona che ti ha invitato ti offre uno sconto sull'acquisto di un packaging da 4 bottigle</li>
        <li> La birra ti verrà consegnata direttamente a casa tua</li>
        <li> Ad ogni tuo acquisto potrai inivitare un tuo tuo amici</li>
        <li> Ad ogni acquisto di un amico da te invitato e per sempre, accumuli punti Pinta per sconti fino al 50%</li>
      </ol>
    </td>
  </tr>
</table>