<div style="margin: 10px;">
  <span style="float:right;">
    <a href="#" onclick="return closeDocument()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
    </a>
  </span>
</div>
<div class="text-white font-weight-light" style="margin: 0px 10px 0px 10px;"">
<font color="#FFFFFF"><font face="Cantarell"><font size="4" style="font-size: 14pt"><b>
ORARI DI APERTURA</b></font></font></font>
<p style="margin-bottom: 0cm; line-height: 100%"><br/></p>
<table width="100%" cellpadding="0" cellspacing="0">
  <col width="51*"/>

  <col width="51*"/>

  <col width="51*"/>

  <col width="51*"/>

  <col width="51*"/>

  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p><br/>

      </p>
    </td>
    <td colspan="2" width="40%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">Mattino</font></p>
    </td>
    <td colspan="2" width="40%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">Pomeriggio</font></p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p><br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">dalle</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">alle</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">dalle</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">alle</font></p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p align="right">
      <font face="Cantarell Light"><b>Lunedì</b></font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">17:00</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">20:00</font></p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p align="right">
      <font face="Cantarell Light"><b>Martedì</b></font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">17:00</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">20:00</font></p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p align="right">
      <font face="Cantarell Light"><b>Mercoledì</b></font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">17:00</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">20:00</font></p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p align="right">
      <font face="Cantarell Light"><b>Giovedì</b></font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">17:00</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">20:00</font></p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p align="right">
      <font face="Cantarell Light"><b>Venerdì</b></font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">17:00</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">20:00</font></p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p align="right">
      <font face="Cantarell Light"><b>Sabato</b></font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">10:00</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">13:00</font></p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
    <td width="20%" style="border: none; padding: 0cm"><p align="center">
      <br/>

      </p>
    </td>
  </tr>
  <tr valign="top">
    <td width="20%" style="border: none; padding: 0cm"><p align="right">
      <font face="Cantarell Light"><b>Domenica</b></font></p>
    </td>
    <td colspan="4" width="80%" style="border: none; padding: 0cm"><p align="center">
      <font face="Cantarell Light">chiuso</font></p>
    </td>
  </tr>
</table>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>
</p>

</div>