<span style="float:right;">
    <a href="#" onclick="return closeDocument()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
    </a>
</span>
<h4 class="text-white">Vantaggi </h4>
<ol class="text-white font-weight-light">
  <li> L'invito è esclusivo e ti permette di accedere a Sharingbeer per acquitare birre artigianali</li>
  <li> L' accettazione dell'invito NON ha vincoli ne obblighi di acquisto</li>
  <li> La persona che ti ha invitato ti offre uno sconto sull'acquisto di un packaging da 4 bottigle</li>
  <li> La birra ti verrà consegnata direttamente a casa tua</li>
  <li> Ad ogni tuo acquisto potrai anche tu inivitare un tuo amico</li>
  <li> Ad ogni acquisto di un amico da te invitato e per sempre, accumuli punti Pinta per sconti fino al 50%</li>
</ol>
