.contenitore {
    display: grid;
    grid-template-columns: 100% auto;
    gap: 0px; /* spazio tra le colonne */
    align-items: center; /* allinea verticalmente al centro */
}

.contenitore input[type="text"] {
    width: 100%; /* larghezza del campo input */
}


.password-toggle-icon {
  position: relative;
  right: 35px;
  cursor: pointer;
}

.passwordConfirm-toggle-icon {
  position: relative;
  right: 35px;
  cursor: pointer;
}

.reset-field-icon {
  position: relative;
  right: 35px;
  cursor: pointer;
}


.password-toggle-icon i {
  font-size: 20px;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.passwordConfirm-toggle-icon i {
  font-size: 20px;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.reset-field-icon i {
  font-size: 20px;
  color: #333;
  transition: color 0.3s ease-in-out;
}


.password-toggle-icon i:hover {
  color: #333;
}

.passwordConfirm-toggle-icon i:hover {
  color: #333;
}

.reset-field-icon i:hover {
  color: #333;
}